/.rspec
*.tmproj
.rvmrc
.rvmrc.*
.ruby-version
.ruby-gemset
.DS_Store
.bundle
.idea
.zeus.sock
.ec2
GIT_VERSION
db/*.sqlite3
db/.DS_Store
log/*
tmp/**/*
*~
.#*
#*
*#
tmtags
/coverage
/tmp
.autotest
**/.DS_Store
nbproject/*
*.sublime-project
*.sublime-workspace
*.sql
/db/hurls
/db/views
public/system
coverage
rails_best_practices_output.html