%span.balloon
  Kudos
  %div
    =image_tag('arrow.gif', class: 'arrow')
    %strong
      Kudoso's Virtual Currency
    %p
      Within Kudoso, a child can perform extra tasks (chores, learning, exercise, and more!)
      to earn Kudos, a virtual currency within Kudoso.
    %p
      A child learns to manage their Kudos just like real money, and they begin to develop
      the positive habits of having to work first before play.  As a parent, you can setup
      your Kudoso account to allow your child to use their Kudos to "buy" more screen time,
      to access 3rd party content, or in the future to even buy real merchandise!