%section.k-news.uk-clearfix.uk-contrast
  .uk-container.uk-container-center
    %article
      %h2 In the News
      %ul
        %li
          %a{:href => "http://techcrunch.com/2014/07/01/kudoso-is-a-router-that-rewards-your-kids-with-facebook-time-for-studying-doing-chores/", target: '_blank'}
            =image_tag 'techcrunch-news.png', alt: 'TechCrunch'
        %li
          %a{:href => "http://www.usatoday.com/story/tech/personal/2014/07/02/wireless-router-chores/12005603/", target: '_blank'}
            =image_tag 'usa-today-news.png', alt: 'USA Today'
        %li
          %a{:href => "http://www.engadget.com/2014/07/02/kudoso-router-software/", target: '_blank'}
            =image_tag 'engadget-news.png', alt: 'Engadget'