$("#index_form").slideUp(500, function(){
    $("#index_form").html("<H2>Thank you!</H2><p>We have received your information, we will be in touch shortly!");
    $("#index_form").slideDown();
});
$("#footer_form").slideUp(500, function(){
    $("#footer_form").html("<H2>Thank you!</H2><p>We have received your information, we will be in touch shortly!");
    $("#footer_form").slideDown();
});