%section.k-intro.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article.uk-width-large-6-10.uk-width-medium-6-10.uk-width-small-1-1.uk-container-center
      %header.k-index-header
        %h2.uk-contrast Introducing Kudoso
        %p.first
          The
          %b Positive
          way to
          %b Limit Screen Time &amp; Protect
          your children across
          all devices: Computers, Mobile, Televisions &amp; Game Consoles.
        %p
          %a.k-video-button.uk-button.uk-button-large{:data => {"uk-modal" => "{center:true}"}, :href => "#video"}
            %i.uk-icon-play
            &nbsp;Watch Video

#video.uk-modal
  .uk-modal-dialog.uk-modal-dialog-lightbox
    %a.uk-modal-close.uk-close.uk-close-alt
    %iframe.wistia_embed{:allowfullscreen => "allowfullscreen", :allowtransparency => "true", :frameborder => "0", :height => "169", :mozallowfullscreen => "mozallowfullscreen", :msallowfullscreen => "msallowfullscreen", :name => "wistia_embed", :oallowfullscreen => "oallowfullscreen", :scrolling => "no", :src => "//fast.wistia.net/embed/iframe/3hbt5e8rum?videoFoam=true", :webkitallowfullscreen => "webkitallowfullscreen", :width => "600", :height => "337"}


    -#   .k-intro-video
    -#     .uk-hidden-medium.uk-hidden-large
    -#       %a{:class => "wistia-popover[height=388,playerColor=00528c,width=640]", :href => "//fast.wistia.net/embed/iframe/3hbt5e8rum?popover=true"}
    -#         %img{:alt => "", :src => "https://embed-ssl.wistia.com/deliveries/2b8b4f28ef2a7abd37d74d92270ed010f76da97b.jpg?image_play_button=true&image_play_button_color=00528ce0&image_crop_resized=480x270"}/
    -#       %script{:charset => "ISO-8859-1", :src => "//fast.wistia.com/assets/external/popover-v1.js"}
    -#     .uk-hidden-small
    -#       %iframe.wistia_embed{:allowfullscreen => "allowfullscreen", :allowtransparency => "true", :frameborder => "0", :height => "169", :mozallowfullscreen => "mozallowfullscreen", :msallowfullscreen => "msallowfullscreen", :name => "wistia_embed", :oallowfullscreen => "oallowfullscreen", :scrolling => "no", :src => "//fast.wistia.net/embed/iframe/3hbt5e8rum?videoFoam=true", :webkitallowfullscreen => "webkitallowfullscreen", :width => "300"}
    -#       %script{:src => "//fast.wistia.net/assets/external/E-v1.js"}
    -#   .uk-container-center
    -#     %p.first Our mission is to help parents control the influence of technology on their children through mutual cooperation and the positive reinforcement of family values and life skills.
%section.k-features.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article
      %h2
        %strong Platform
        Features
      %p.uk-width-medium-4-5.uk-container-center.uk-margin-bottom Our mission is to help parents control the influence of technology on their children through mutual cooperation and the positive reinforcement of family values and life skills.
      %ul.k-feature-set.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-grid-large
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "20", :y2 => "6"}
                %path{:d => "M36,20H12 C6.5,20,2,24.5,2,30s4.5,10,10,10c4.1,0,7.6-2.5,9.2-6h5.7c1.5,3.5,5.1,6,9.2,6c5.5,0,10-4.5,10-10S41.5,20,36,20z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "12", :x2 => "12", :y1 => "26", :y2 => "34"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "8", :x2 => "16", :y1 => "30", :y2 => "30"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "34", :x2 => "36", :y1 => "28", :y2 => "26"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "36", :x2 => "38", :y1 => "34", :y2 => "32"}
          / <h4 class="k-feature-title uk-hidden">Title 1</h4>
          %p.k-feature-desc
            %strong Control Screen Time
            on more devices than ANY other solution available today including: Televisions, game consoles, phones, tablets &amp; computers.  Kudoso offers the only Whole Home Solution on the market today.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "40", :x2 => "16", :y1 => "40", :y2 => "40"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 32,2 32,16 26,12 20,16 20,2 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M40,34V6c0-2.2-1.8-4-4-4H8 C5.8,2,4,3.8,4,6v34", "data-cap" => "butt", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M40,46V34H10 c-3.3,0-6,2.7-6,6v0c0,3.3,2.7,6,6,6H40z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "10", :y1 => "34", :y2 => "10"}
          %p.k-feature-desc
            %strong Children Learn
            applicable life skills through Kudoso Integrations. We’ve partnered with Kahn Academy, a leader in world class education and skill development, to be able to offer skill building opportunities to your children and make them want to learn.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M10,12V8c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v4", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M16,12V7c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v5", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M28,12V7c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v5", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M22,12V5c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v7", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "27.1,31 2,31 2,12 45,12 45,31 40,31 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "23", :cy => "22", "data-color" => "color-2", :fill => "none", :r => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "14", :x2 => "8", :y1 => "17", :y2 => "17"}
                %path{:d => "M10,31c0,8.3,6.7,15,15,15 s15-6.7,15-15V18c-3.5,0-6,2.5-6,6v4c-4.7,0-9,3.7-9,8", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Reward &amp; Partner
            with your children using Kudos: our rewards system, with customized goals and prizes you set.  Kudoso’s rewards system offers positive encouragement to help you get the actions you want from your kids with less resistance.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "36", :y2 => "44"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "20", :x2 => "12", :y1 => "36", :y2 => "46"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "28", :x2 => "36", :y1 => "36", :y2 => "46"}
                %rect{"data-color" => "color-2", :fill => "none", :height => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "4", :x => "22", :y => "4"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "34,18 24,28 18,22 14,26 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "28,18 34,18 34,24 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "42,36 42,8 6,8 6,36 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "2", :x2 => "46", :y1 => "36", :y2 => "36"}
          %p.k-feature-desc
            %strong Powerful Reports
            let you see what devices, apps &amp; activities your children are spending time on; get notifications if there are issues that need your attention.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M4,24c0,0,7.9-14,20-14 c12,0,20,14,20,14s-8.1,14-20,14C12,38,4,24,4,24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "24", :cy => "24", "data-color" => "color-2", :fill => "none", :r => "7", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Monitor &amp; Filter
            the Internet ensuring your child is only exposed to age-appropriate content throughout your entire home &amp; on their mobile devices outside the house as well.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %circle{:cx => "24", :cy => "38", "data-color" => "color-2", :fill => "none", :r => "2", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "12", :y2 => "12"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "30", :y2 => "30"}
                %path{:d => "M34,46H14c-2.2,0-4-1.8-4-4 V6c0-2.2,1.8-4,4-4h20c2.2,0,4,1.8,4,4v36C38,44.2,36.2,46,34,46z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Easy to Use
            and setup you can start protecting your family in under 10 minutes.  Kudoso allows you to manage your family’s technology from any device, anytime, anywhere.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Encourage children
            to explore new activities, make better choices with their time and energy and encourage them to be more active through Kudoso Integrations including Khan Academy and FitBit.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M36,18 c0-2.2-1.8-4-4-4c-2.2,0-4,1.8-4,4", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M20,18 c0-2.2-1.8-4-4-4s-4,1.8-4,4", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M16,34h7.2 c3.1,0,6-1.2,8.2-3.4L32,30", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "24", :cy => "24", :fill => "none", :r => "22", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Smile
            knowing there are many more features that will change the way your family manages technology!
%section.k-hero.uk-clearfix
  .k-newsletter.uk-container-center.uk-width-small-3-4.uk-width-medium-5-10.uk-width-large-4-10
    %h2 Newsletter
    / <p>Get notified for <strong>amazing discounts</strong> by showing your interest in Kudoso.</p>
    %p
      %strong Sign Up Now
      for the latest Kudoso news on how to protect your family from the dangers of technology, tips on raising healthier kids and be one of the first to get Kudoso, even before the public release!
    %form.uk-form
      .uk-form-row.uk-text-center
        %input.uk-form-large.uk-width-4-10{:name => "first_name", :placeholder => "Your First Name", :type => "text", :value => "", :id => 'index-first-name'}/
        %input.uk-form-large.uk-width-4-10{:name => "last_name", :placeholder => "Your Last Name", :type => "text", :value => "", :id => 'index-last-name'}/
      .uk-form-row.uk-text-center
        %input.uk-form-large.uk-width-8-10.uk-text-center{:name => "email", :placeholder => "Your Email Address", :type => "email", :value => "", :id => "index-email", :onclick => "index_signup();"}/
      .uk-form-row.uk-text-center
        %small We won’t spam you or share your email address.
      .uk-form-row.uk-text-center
        %button.newsletter-button.uk-button.uk-button-primary.uk-button-large.uk-width-8-10{:name => "button", :type => "button", onclick: "index_signup(); return false;"} Sign Up

%section.k-fundamentals.k-section.uk-clearfix
  %article
    -#<ul class="uk-grid uk-grid-width-medium-1-2 uk-grid-large">
    -#<li class="k-fundamental k-protect"><a href=""><img src="/assets/images/mom_ipad_detail_570x300.jpg" alt=""></a></li>
    -#<li class="k-fundamental k-limit"><a href=""><img src="/assets/images/kids_gaming_570x300.jpg" alt=""></a></li>
    -#<li class="k-fundamental k-teach"><a href=""><img src="/assets/images/kids_dishes_570x300.jpg" alt=""></a></li>
    -#<li class="k-fundamental k-reward"><a href=""><img src="/assets/images/kids_sports_570x300.jpg" alt=""></a></li>
    -#</ul>
    .uk-grid.uk-grid-width-large-1-2.uk-grid-large.k-grid-nomargin
      %figure.k-fundamental.uk-overlay
        =image_tag 'mom_ipad_detail_570x300.jpg', alt: ''
        .uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
          %div
            %h2 Protect
            //%p= render partial: 'home/protect_paragraph'
            %span
              Learn More
              %i.uk-icon-arrow-circle-right
        %a.uk-position-cover{:href => "/protect"}
      %figure.k-fundamental.uk-overlay
        =image_tag 'kids_gaming_570x300.jpg', alt: ''
        .uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
          %div
            %h2 Limit
            //%p= render partial: 'home/limit_paragraph'
            %span
              Learn More
              %i.uk-icon-arrow-circle-right
        %a.uk-position-cover{:href => "/limit"}
      %figure.k-fundamental.uk-overlay
        =image_tag 'kids_dishes_570x300.jpg', alt: ''
        .uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
          %div
            %h2 Teach
            //%p= render partial: 'home/teach_paragraph'
            %span
              Learn More
              %i.uk-icon-arrow-circle-right
        %a.uk-position-cover{:href => "/teach"}
      %figure.k-fundamental.uk-overlay
        =image_tag 'kids_sports_570x300.jpg', alt: ''
        .uk-overlay-panel.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
          %div
            %h2 Reward
            //%p= render partial: 'home/reward_paragraph'
            %span
              Learn More
              %i.uk-icon-arrow-circle-right
        %a.uk-position-cover{:href => "/reward"}
= render 'home/news'
:javascript
  function index_signup() {
    $('.newsletter-button').prop("disabled",true);
    var email = $.trim($('#index-email').val());
    var valid = (email.length > 5 && validateEmail(email));

    if ( !valid ) {
      alert("We're sorry, it doesn't appear that you have input a valid email address, please try again");
      $('.newsletter-button').prop("disabled",false);
      return;
    }

    var first_name = $.trim($('#index-first-name').val());
    var last_name = $.trim($('#index-last-name').val());

    valid = (valid && first_name.length > 2);
    valid = (valid && last_name.length > 2);

    if ( !valid ) {
      alert("Both the first and last name fields are required, please try again...");
      $('.newsletter-button').prop("disabled",false);
      return;
    }

    if ( valid ) {
      var data = {
          contact: {
            emails_attributes: [ { address: email } ],
            first_name: first_name,
            last_name: last_name,
            contact_type_id: #{ ContactType.find_or_create_by(name: 'Beta Applicant').id }
          }
         };
      $.ajax({
         url: '/contacts',
         dataType: 'json',
         contentType: 'application/json',
         method: 'POST',
         data: JSON.stringify(data),
         statusCode: {
          200: function(e) {
            alert("Thank you!");
            if (typeof _agile !== 'undefined') {
              _agile.add_score(10);
            }
            ga('send','pageview','/landing_singup_thankyou');
            alert("Thank you!");
          },
          400: function(e) {
            alert("We're sorry, the server did not receive your email address, please try again.");
            $('.newsletter-button').prop("disabled",false);
          },
          409: function(e) {
            if (typeof _agile !== 'undefined') {
              _agile.set_email(email);
              _agile.add_score(10);
            }
            alert("Thank you!");
          },
          500: function(e) {
            alert("We're sorry, the server had an error processing your registration, please try again later.");
            $('.newsletter-button').prop("disabled",false);
          }
        }
      });
    }
  }
