.marketing.container.clear
  .marketing-title
    .marketing-title-image
      %a{href: '/'}
        = image_tag 'KudosoLogo_300.png'
    .marketing-title-tagline
      Changing the way families
      %br
      manage technology
  #kudos-headline.marketing-headline
    .marketing-headline-header
      %span.hidden-xs
        Kudoso Helps
      %span.superbold
        Teach Life Skills
  = render partial: 'home/marketing_header'
  .marketing-intro
    .marketing-intro-header
      Tasks and Connected Partners
    .marketing-intro-body
      Kudoso helps teach kids about work ethic, responsibility and priorities through Tasks and Connected Partners.
      While it starts with "chores", Kudoso Tasks are so much more than chores we had to give it another name!  Tasks provide
      your child with a list of parent directed activities for the day.  The required Tasks restrict
      any screen time access until they are competed.  Parents can use optional Tasks to direct and
      encourage certain behaviors.  Best of all, kids are rewarded for a
      %span.bold
        Job Well Done
      by unlocking their screen time and earning Kudos which they can save up for a rainy day (literally, Kudos
      are great to have on a rainy day to unlock some extra screen time)!
  .marketing-features.blue
    .row
      .col-xs-10.col-xs-offset-1
        .marketing-features-header
          %hr
        .marketing-features-title
          .marketing-features-title-inside.blue
            Features
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-clock
          .feature-body
            .feature-title
              Fast & Easy
            setup, parents can assign Kudoso Tasks with a single click from prebuilt curated lists of chores based on age
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-settings
          .feature-body
            .feature-title
              Completely Customizable Tasks
            allow you to create and assign you own chores and your own schedule
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-star
          .feature-body
            .feature-title
              Tasks Are More
            than chores, you can add beneficial activities to child's daily Tasks such as "play outside for 30 minutes" or "math exercises at Khan Academy"
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-connection
          .feature-body
            .feature-title
              Connected Partners
            like Khan Academy and FitBit lead kids to healthy alternatives to screen time
            while encouraging growth, exploration and life-long learning
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-currency
          .feature-body
            .feature-title
              Kids Earn Kudos
            for every Task they complete providing the positive incentives they need to use electronics in a healthy way while also
            teaching life skills around budgeting, priorities and time management
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-check
          .feature-body
            .feature-title
              Handling Chores
            and other things kids need to do is easy with Kudoso, kids are presented with a Task list that has
            both required and optional chores and screen time is locked until chores are done
  .marketing-body
    .row
      .col-md-10.col-md-offset-1.col-xs-offset-0
        %h3 Kudos your kids will Love!
        Kudos are the heart of Kudoso, after all, that is where our name comes from!  Kudos are a virtual currency
        that parents use to encourage and direct their children.  We built Kudoso to avoid the negative Authoritarian
        style that most partental control apps employ.
        %p
          Specifically, Kudos are earned by kids for not only doing what they have to do, but by doing what we as
          parents WANT them to do.  Parents can setup Kudoso Tasks that connect to activities provided by Kudoso Connected
          Partners and kids can earn Kudos by completing these activities.
    .row
      .col-md-4.col-md-offset-1.col-xs-offset-0
        = image_tag 'Khan-Academy-Logo.png', alt: 'Khan Academy', class: 'img-responsive'
      .col-md-5.col-md-offset-1.col-xs-offset-0
        %h3
          Kudoso
          %span.feature-title
            Connected Partners
        Through Kudoso Connected Partners
        we are able to bring an unlimited world of content (apps, television, websites, movies, music & offline
        activities) to encourage, inspire, motivate and entertain your children.
        - # TODO: Add a CTA for integration suggestions
        %p
          %h4 Connected Partners Include
          %ul.kudoso-bullets
            %li Khan Academy
            %li Fit Bit
        %p
          Kudoso is constantly seeking and integrating new partners.  We can't list them all here yet, but check
          back regularly and see which new Connected Partners will be your favorite.
  = render partial: 'home/marketing_footer'


