.marketing.container.clear
  .marketing-title
    .marketing-title-image
      = image_tag 'kudoso-logo.svg'
    .marketing-title-tagline
      Changing the way families
      %br
      manage technology
  #landing-headline.marketing-headline
    .marketing-headline-header
      %span.hidden-xs
        Born in 2014,
      %span.superbold
        Launching Fall 2015
    .marketing-headline-cta.visible-md.visible-lg.hidden-sm.hidden-xs
      .marketing-headline-cta-title
        We're launching this fall, to get up to a
        %span.bold
          30% DISCOUNT
        join our newsletter now!
      .marketing-headline-cta-input
        .marketing-headline-cta-input-title
          Enter your email address:
        .marketing-headline-cta-input-box
          %input#email.signup
      .marketing-headline-cta-disclaimer
        We won't share your email and we won't spam you.
      .marketing-headline-cta-button{onclick: 'signup();'}
        I'm interested in Kudoso
  .marketing-intro
    .marketing-intro-header
      Introducing Kudoso
    .spacer
    .row
      .col-md-5.col-md-offset-1
        .marketing-intro-body
          Our mission is to help parents control the influence of technology on their children through mutual cooperation and
          the positive reinforcement of family values and life skills.
      .col-md-6
        .marketing-intro-video
          .hidden-xs.hidden-sm.visible-md.visible-lg
            %a{:class => "wistia-popover[height=388,playerColor=00528c,width=640]", :href => "//fast.wistia.net/embed/iframe/3hbt5e8rum?popover=true"}
              %img{:alt => "", :src => "https://embed-ssl.wistia.com/deliveries/2b8b4f28ef2a7abd37d74d92270ed010f76da97b.jpg?image_play_button=true&image_play_button_color=00528ce0&image_crop_resized=178x100"}
            %script{:charset => "ISO-8859-1", :src => "//fast.wistia.com/assets/external/popover-v1.js"}
          .visible-xs.visible-sm.hidden-md.hidden-lg
            %iframe.wistia_embed{:allowfullscreen => "", :allowtransparency => "true", :frameborder => "0", :height => "169", :mozallowfullscreen => "", :msallowfullscreen => "", :name => "wistia_embed", :oallowfullscreen => "", :scrolling => "no", :src => "//fast.wistia.net/embed/iframe/3hbt5e8rum?videoFoam=true", :webkitallowfullscreen => "", :width => "300"}
            %script{:src => "//fast.wistia.net/assets/external/E-v1.js"}
    .marketing-headline-cta-inline.visible-xs.visible-sm.hidden-md.hidden-lg
      .marketing-headline-cta-inline-title
        We're launching this fall, to get up to a
        %span.bold
          30% DISCOUNT
        join our newsletter now!
      .marketing-headline-cta-inline-input
        .marketing-headline-cta-inline-input-title
          Enter your email address:
        .marketing-headline-cta-inline-input-box
          %input#email-inline.signup
      .marketing-headline-cta-inline-disclaimer
        We won't share your email and we won't spam you.
      .marketing-headline-cta-inline-button{onclick: 'signup();'}
        I'm interested in Kudoso
  .marketing-features.blue
    .row
      .col-xs-10.col-xs-offset-1
        .marketing-features-header
          %hr
        .marketing-features-title
          .marketing-features-title-inside.blue
            Features
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-videogame
          .feature-body
            .feature-title
              Control Screen Time
            on more devices than ANY other solution: TV, game consoles, phones, tablets & computers
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-check
          .feature-body
            .feature-title
              Children Learn
            about your family values and life skills through Kudoso and Kudoso Integrations
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-trophy
          .feature-body
            .feature-title
              Reward & Partner
            with your children using Kudos: positive motivation just like your parenting
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-piechart
          .feature-body
            .feature-title
              Powerful Reports
            let you see what devices, apps & activities your children on spending time on; get notifications if there are problems
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-filter
          .feature-body
            .feature-title
              Monitor & Filter
            the Internet ensuring age-appropriate content throughout your entire home & on mobile devices outside the house
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-smartphone
          .feature-body
            .feature-title
              Easy to Use
            with setup in under 10 minutes, then manage Kudoso from any device, anywhere, anytime
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-like
          .feature-body
            .feature-title
              Encourage
            children to explore new activities and learn through Kudoso Integrations including Khan Academy and FitBit
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-smile
          .feature-body
            .feature-title
              Smile
            knowing there are many more features that will change the way your family manages technology!
  .marketing-intro
    .marketing-intro-header
      Kudoso Helps You:
  .marketing-links
    %a{href: '/content_filtering'}
      #link-protect.marketing-link
        .marketing-link-title.title-top
          %span.nav-btn
            %span.hidden-xs
              Filter &
            Protect
    %a{href: '/screen_time_limits'}
      #link-limit.marketing-link
        .marketing-link-title.title-top
          %span.nav-btn
            Limit
            %span.hidden-xs
              Screen Time
  .marketing-links
    %a{href: '/kudos'}
      #link-kudos.marketing-link
        .marketing-link-title.title-bottom
          %span.nav-btn
            %span.hidden-xs
              Teach
            Life Skills
    %a{href: '/rewards'}
      #link-reward.marketing-link
        .marketing-link-title.title-bottom
          %span.nav-btn
            %span.hidden-xs
              Fun &
            Rewards

  #thankyou.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Thank you
        .modal-body
          %p We appreciate your support, we will occasionally send you updates as Kudoso gets closer to launch.
:javascript
  function signup() {
    var email = $.trim($('#email').val());
    if (email.length < 5) {
        email = $.trim($('#email-inline').val());
    }
    if ( email.length < 5 || !validateEmail(email) ) {
      alert("We're sorry, it doesn't appear that you have input a valid email address, please try again");
    } else {
      $.ajax({
         url: '/contacts',
         dataType: 'json',
         method: 'POST',
         data: {
          contact: {
            emails_attributes: [ { address: email } ],
            contact_type_id: #{ ContactType.find_or_create_by(name: 'Beta Applicant').id }
          }
         },
         statusCode: {
          200: function(e) {
            $('#thankyou').modal();
            _agile.set_email(email);
            _agile.add_score(10);
            ga('send','pageview','/landing_singup_thankyou');
           },
          400: function(e) {
            alert("We're sorry, the server did not receive your email address, please try again.");
          },
          409: function(e) {
            _agile.set_email(email);
            _agile.add_score(10);
            alert("We're sorry, this email address is already registered.");
          },
          500: function(e) {
            alert("We're sorry, the server had an error processing your registration, please try again later.");
          }
         }
      });
    }
  }
  function validateEmail(email) {
    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    return re.test(email);
  }