%section.k-intro.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle.k-ohana
  .uk-container.uk-container-center
    %article.uk-width-large-6-10.uk-width-medium-9-10.uk-width-small-1-1.uk-container-center
      %header
        %h2.uk-contrast Kudoso Ohana
        %p.first
          %b
            Be family member
            %span#ohanaCount #1
        %p
          It takes a villiage to raise a child, and it takes a family to launch Kudoso.  We'd like
          to invite you join our family:
        %p
          %b Kudoso Ohana
%section#features.k-features.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article
      %h2
        %strong Ohana Benefits
      %p.uk-width-medium-4-5.uk-container-center
        Kudosos wants to make ALL families stronger by helping to manage the technology in the home.
        By joining Ohana, you are not only commiting to strengthing your family, you're helping Kudoso
        reach all families.
      %p
        %b Thank You!
      %ul.k-feature-set.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-grid-large
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            40% off Kudoso FOR LIFE, $149/yr
            %br
            (Regularly $239/yr)
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            One Kudoso Gateway and Kudoso Plug included
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Be the first to get Kudoso this Winter with Kudoso Beta
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Annual subscription starts when Kudoso Beta ends
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Protect up to 5 devices in and out of your home
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Apple iOS, Android, Game Consoles, Mac, PC and Televisions
%section.k-section.uk-clearfix
  .uk-container.uk-container-center
    %article
      %header
        %h2
          %strong Sign Up for Ohana
      %p
        Kudoso is currently only available in the United States
      .uk-container-center.uk-width-small-1-1.uk-width-medium-6-10.uk-width-large-6-10
        %form#payment-form.uk-form
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-4-10{:name => "first_name", :placeholder => "Your First Name", :type => "text", :value => "", :id => 'signup-first-name'}/
            %input.uk-form-large.uk-width-4-10{:name => "last_name", :placeholder => "Your Last Name", :type => "text", :value => "", :id => 'signup-last-name'}/
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-8-10{:name => "address", :placeholder => "Shipping Address", :type => "text", :value => "", :id => 'signup-address'}/
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-4-10{:name => "city", :placeholder => "City", :type => "text", :value => "", :id => 'signup-city'}/
            %input.uk-form-large.uk-width-2-10{:name => "state", :placeholder => "State", :type => "text", :value => "", :id => 'signup-state'}/
            %input.uk-form-large.uk-width-2-10{:name => "zip", :placeholder => "Zip Code", :type => "text", :value => "", :id => 'signup-zip'}/
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-8-10{:name => "email", :placeholder => "Your Email Address", :type => "email", :value => "", :id => 'signup-email'}/
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-8-10{:name => "cc", :placeholder => "Your Credit Card Numnber", :type => "text", :value => "", :id => 'signup-cc'}/
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-2-10{:name => "cc-exp-month", :placeholder => "Exp Month", :type => "text", :value => "", :id => 'signup-cc-exp-month'}/
            %input.uk-form-large.uk-width-2-10{:name => "cc-exp-year", :placeholder => "Exp Year", :type => "text", :value => "", :id => 'signup-cc-exp-year'}/
            %input.uk-form-large.uk-width-4-10{:name => "cc-cvc", :placeholder => "Security Code", :type => "text", :value => "", :id => 'signup-cc-cvc'}/
          .uk-form-row.uk-text-center
            %button.uk-button.uk-button-primary.uk-button-large.uk-width-8-10{:name => "submit", type: 'submit'} $149/yr | Sign Up for Ohana
%script{ type: "text/javascript", src: "https://js.stripe.com/v2/"}
:javascript
  Stripe.setPublishableKey('#{Settings.stripe.publishable}');