#landing.container
  #landing-title
    #landing-title-image
      = link_to '/' do
        = image_tag 'KudosoLogo_300.png'
    #landing-title-tagline
      Changing the way families
      %br
      manage technology
  %br
  .row
    .col-md-10.col-xs-12.col-md-offset-1
      #privacy.panel.panel-info
        .panel-heading
          .panel-title
            %h1 Privacy
        .panel-body
          %p Kudoso takes your and your family's privacy very seriously. This privacy policy describes the treatment of information provided by you or collected by us.
          %h2 Information Collected About Website Visitors
          %p Like most websites, Kudoso collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Kudoso's purpose in collecting non-personally identifying information is to better understand how Kudoso's visitors use its website. From time to time, Kudoso may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
          %h2 Types of Information We Collect
          %p
            We collect two basic types of information - personal information and anonymous information - and we may use personal and anonymous information to create a third type of information, aggregate information. We collect the following categories of information:
          %ul
            %li Registration information you provide when you create an account, including your first name and surname, email address, username and password as well as the first name (or username), password and age of your children who participate in the Kudoso system.
            %li Transaction information you provide when you request information or purchase a product or service from us, whether on our sites or through our applications, including your postal address, telephone number and payment information.
            %li Information you provide in public forums on our sites and applications.
            %li Information sent either one-to-one or within a limited group using our message, chat, post or similar functionality, where we are permitted by law to collect this information.
            %li Information you provide to us when you use our sites and applications, our applications on third-party sites or platforms such as social networking sites, or link your profile on a third-party site or platform with your registration account.
            %li Location information when you visit our sites or use our applications, including location information either provided by a mobile device interacting with one of our sites or applications, or associated with your IP address, where we are permitted by law to process this information.
            %li Usage, viewing and technical data, including your device identifier or IP address, when you visit our sites, use our applications on third-party sites or platforms or open emails we send.
          %p Kudoso also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Kudoso only discloses IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.
          %h2 Gathering of Personally-Identifying Information
          %p Certain visitors to Kudoso's websites choose to interact with Kudoso in ways that require Kudoso to gather personally-identifying information. The amount and type of information that Kudoso gathers depends on the nature of the interaction. For example, registered users of Kudoso provide their name, email address, and other information . Those who engage in transactions with Kudoso are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Kudoso collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with Kudoso. Kudoso does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
          %h2 Aggregated Statistics
          %p Kudoso may collect statistics about the behavior of visitors to its websites. Kudoso may display this information publicly or provide it to others. However, Kudoso does not disclose personally-identifying information other than as described below.
          %h2 Protection of Certain Personally-Identifying Information
          %p Kudoso discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (1) need to know that information in order to process it on Kudoso's behalf or to provide services available at Kudoso's websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Kudoso's websites, you consent to the transfer of such information to them. Kudoso will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Kudoso discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when Kudoso believes in good faith that disclosure is reasonably necessary to protect the property or rights of Kudoso, third parties or the public at large. If you are a registered user of a this website and have supplied your email address, Kudoso may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with Kudoso and our other products. We expect to keep this type of email to a minimum. If you send us a request (for example via a support email), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Kudoso takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
          %h2 Cookies
          %p A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Kudoso uses cookies to help Kudoso identify and track visitors, their usage of Kudoso website, and their website access preferences. Kudoso visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Kudoso's websites, with the drawback that certain features of Kudoso may not function properly without the aid of cookies.
          %h2 Business Transfers
          %p
            If Kudoso, or substantially all of their assets were acquired, or in the event that Kudoso goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Kudoso may continue to use your personal information as set forth in this policy.
          %h2 Ads
          %p
            Ads appearing on this website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Kudoso and does not cover the use of cookies by any advertisers. Kudoso has no access to or control over cookies used by third parties.
          %p
            Google, as a third party vendor, may use cookies to serve ads on Kudoso. Google's use of the DoubleClick DART Cookie enables it to serve ads to users based on their visit to Kudoso.com and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - #{link_to 'http://www.google.com/privacy_ads.html', 'http://www.google.com/privacy_ads.html', :target => '_blank'}
          %h2 Privacy Policy Changes
          %p Although most changes are likely to be minor, Kudoso may change its Privacy Policy from time to time, and in Kudoso's sole discretion. Kudoso encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.