.marketing.container.clear
  .marketing-title
    .marketing-title-image
      %a{href: '/'}
        = image_tag 'KudosoLogo_300.png'
    .marketing-title-tagline
      Changing the way families
      %br
      manage technology
  #rewards-headline.marketing-headline
    .marketing-headline-header
      %span.hidden-xs
        Why Kids Love Kudoso:
      %span.superbold
        Fun & Rewards
  = render partial: 'home/marketing_header'
  .marketing-intro
    .marketing-intro-header
      Kudoso is full of Fun & Rewards
    .marketing-intro-body
      We know that if your kids don't love it, they won't do it!  That's why Kudoso works very hard to be FUN
      and REWARDING for your kids. With Kudoso, kids get to reap the rewards of
      hard work by cashing in their Kudos, accessing great content, and building a series of accomplishments
      that lead to the recognition they all crave.
  .marketing-features.blue
    .row
      .col-xs-10.col-xs-offset-1
        .marketing-features-header
          %hr
        .marketing-features-title
          .marketing-features-title-inside.blue
            Features
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-currency
          .feature-body
            .feature-title
              Kudos Virtual Currency
            is earned by kids and can be used by kids for real rewards that they will enjoy and strive for
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-sailboat
          .feature-body
            .feature-title
              Exploration & Discovery
            is encouraged as kids use Kudos to unlock new content (applications, games, and more) or additional
            screen time as they choose
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-bank
          .feature-body
            .feature-title
              Learning to Bank
            just like in the real world as kids are presented with a checkbook style ledger for their Kudos
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-videogame
          .feature-body
            .feature-title
              Be a Kid
            and have fun with Kudoso as kids get to play their games and parents relax knowing the content is safe and
            age appropriate
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-like
          .feature-body
            .feature-title
              Curated Content
            from Kudoso Connected Partners is available directly within the Kudoso app making it simple for
            kids to find what they like and explore new things at the same time
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-creditcard
          .feature-body
            .feature-title
              Real Rewards
            can be offered to kids by allowing them to swap Kudos for real items like their allowance or
            merchandise from Amazon.com when parents choose to setup a Kudos Exchange

  .marketing-body
    .row
      .col-md-10.col-md-offset-1.col-xs-offset-0
        %h3 Using Kudos
        Kids can use Kudos inside Kudoso like real money, or they can visit the Kudoso Exchange and trade
        their Kudos in for real items like their allowance or merchandise as approved by parents.
    .row
      .col-md-3.col-md-offset-1.col-xs-offset-0
        = image_tag '3ddollarsign.png', alt: 'Kudos: Virtual Currency', class: 'img-responsive'
      .col-md-6.col-md-offset-1.col-xs-offset-0
        %h4 Unlocking Activities
        Kudos can be used by kids to unlock content or even additional screen time.  As a parent, you have
        complete control over what options are available for your kids.  By default, kids can unlock up to
        an additional 1 hour of screen time OR use Kudos to unlock access to a new app/game from a Kudoso
        Connected Partner.  Some of the apps are normally paid apps that Kudoso provides as rewards for a
        %span.bold
          Job Well Done
        %h4 Kudoso Exchange
        Parents can use the Kudoso Exchange to setup an exchange "contract" with their children.  Just like in
        real life, kids learn the value of an agreement and how to work mutually with their parents.  In the
        exchange, parents can setup exchanges of Kudos for real merchandise such as the child's allowance.
        Additionally, through an integration with Amazon.com, kids can search for merchandise that they would like
        to have and parents can set a value (in Kudos) for that merchandise.  Kids can then watch their progress
        in the Kudoso Bank as they save toward their goal.
        %h4 Kudoso Bank
        As a parent our job is to prepare our kids for the future.  Kudoso helps in this process by building
        valuable life skills into your child's daily routine.  The Kudoso Bank helps in this process by
        teaching basic money-handling skills like budgeting, saving and understanding debits and credits.  As
        kids earn Kudos, their bank account reflects this as credits.  When they use Kudos, their accounts are
        debitted just like a real bank account.  And kids can clearly see their progress toward their next
        goal as they save their Kudos.
  = render partial: 'home/marketing_footer'



