%section.k-intro.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle.k-reward
  .uk-container.uk-container-center
    %article.uk-width-large-6-10.uk-width-medium-9-10.uk-width-small-1-1.uk-container-center
      %header
        %h2.uk-contrast Kudoso is Fun &amp; Rewarding
        %p.first
          =render partial: 'home/reward_paragraph'
      .k-intro-video
%section#features.k-features.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article
      %h2
        %strong Reward
        Features
      %p.uk-width-medium-4-5.uk-container-center Our mission is to help parents control the influence of technology on their children through mutual cooperation and the positive reinforcement of family values and life skills.
      %ul.k-feature-set.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-grid-large.uk-margin-large
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "20", :y2 => "6"}
                %path{:d => "M36,20H12 C6.5,20,2,24.5,2,30s4.5,10,10,10c4.1,0,7.6-2.5,9.2-6h5.7c1.5,3.5,5.1,6,9.2,6c5.5,0,10-4.5,10-10S41.5,20,36,20z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "12", :x2 => "12", :y1 => "26", :y2 => "34"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "8", :x2 => "16", :y1 => "30", :y2 => "30"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "34", :x2 => "36", :y1 => "28", :y2 => "26"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "36", :x2 => "38", :y1 => "34", :y2 => "32"}
          / <h4 class="k-feature-title uk-hidden">Title 1</h4>
          %p.k-feature-desc
            %strong Kudos Virtual Currency
            is earned by kids for each Kudoso Task they complete.  As a parent, you control what this currency can be redeemed for…unlocking additional preapproved content, additional screen time or even real world rewards if your goal is to limit screen time even further.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M10,12V8c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v4", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M16,12V7c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v5", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M28,12V7c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v5", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M22,12V5c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v7", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "27.1,31 2,31 2,12 45,12 45,31 40,31 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "23", :cy => "22", "data-color" => "color-2", :fill => "none", :r => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "14", :x2 => "8", :y1 => "17", :y2 => "17"}
                %path{:d => "M10,31c0,8.3,6.7,15,15,15 s15-6.7,15-15V18c-3.5,0-6,2.5-6,6v4c-4.7,0-9,3.7-9,8", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Learning to Bank
            just like in the real world as kids are presented with a checkbook style ledger for their Kudos to learn the value of “saving” for something large, planning ahead for a rainy day where extra screen time might be needed, and even the instant gratification of working hard to earn and spend their Kudos on something they want now.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "40", :x2 => "16", :y1 => "40", :y2 => "40"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 32,2 32,16 26,12 20,16 20,2 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M40,34V6c0-2.2-1.8-4-4-4H8 C5.8,2,4,3.8,4,6v34", "data-cap" => "butt", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M40,46V34H10 c-3.3,0-6,2.7-6,6v0c0,3.3,2.7,6,6,6H40z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "10", :y1 => "34", :y2 => "10"}
          %p.k-feature-desc
            %strong Exploration &amp; Discovery
            is encouraged as kids use Kudos to unlock new content (applications, games, and more) or additional screen time as they choose.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "36", :y2 => "44"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "20", :x2 => "12", :y1 => "36", :y2 => "46"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "28", :x2 => "36", :y1 => "36", :y2 => "46"}
                %rect{"data-color" => "color-2", :fill => "none", :height => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "4", :x => "22", :y => "4"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "34,18 24,28 18,22 14,26 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "28,18 34,18 34,24 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "42,36 42,8 6,8 6,36 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "2", :x2 => "46", :y1 => "36", :y2 => "36"}
          %p.k-feature-desc
            %strong Be a Kid
            and have fun with Kudoso as kids get to play their games and parents relax knowing the content is safe and age appropriate.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M4,24c0,0,7.9-14,20-14 c12,0,20,14,20,14s-8.1,14-20,14C12,38,4,24,4,24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "24", :cy => "24", "data-color" => "color-2", :fill => "none", :r => "7", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Curated Content
            from Kudoso Connected Partners is available directly within the Kudoso app making it simple for kids to find what they like and explore new things at the same time.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %circle{:cx => "24", :cy => "38", "data-color" => "color-2", :fill => "none", :r => "2", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "12", :y2 => "12"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "30", :y2 => "30"}
                %path{:d => "M34,46H14c-2.2,0-4-1.8-4-4 V6c0-2.2,1.8-4,4-4h20c2.2,0,4,1.8,4,4v36C38,44.2,36.2,46,34,46z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Real Rewards
            can be earned when parents choose to setup a Kudos Exchange allowing them to swap Kudos for real items like their allowance or merchandise from Amazon.com.  As a parent, you can identify your child’s individual “gold” and tie their kudos to what you know really motivates him or her.
%section.k-info.k-section.uk-clearfix
  .uk-container.uk-container-center
    %article
      %header
        %h2
          %strong Kudos:
          Virtual Currency
      %p Kids can use Kudos inside Kudoso like real money, or they can visit the Kudoso Exchange and trade their Kudos in for real items like their allowance or merchandise as approved by parents.
      %figure
        =image_tag '3ddollarsign.png', alt: ''
        %figcaption
      %h3 Unlocking Activities
      %p Kudos can be used by kids to unlock content or even additional screen time. As a parent, you have complete control over what options are available for your kids. By default, kids can unlock up to an additional 1 hour of screen time OR use Kudos to unlock access to a new app/game from a Kudoso Connected Partner (for example, some of the apps are normally paid apps that Kudoso provides as rewards for a Job Well Done).
      %h3 Kudoso Exchange
      %p Parents can use the Kudoso Exchange to setup an exchange "contract" with their children. Just like in real life, kids learn the value of an agreement and how to work mutually with their parents. In the exchange, parents can setup exchanges of Kudos for real merchandise such as the child's allowance. Additionally, through an integration with Amazon.com, kids can search for merchandise that they would like to have and parents can set a value (in Kudos) for that merchandise. Kids can then watch their progress in the Kudoso Bank as they save toward their goal.
      %h3 Kudoso Bank
      %p As a parent our job is to prepare our kids for the future. Kudoso helps in this process by building valuable life skills into your child's daily routine. The Kudoso Bank helps in this process by teaching basic money-handling skills like budgeting, saving and understanding debits and credits. As kids earn Kudos, their bank account reflects this as credits. When they use Kudos, their accounts are debited just like a real bank account. Allowing kids to clearly see their progress toward their goal as they save their Kudoso.
= render 'home/news'