.marketing.container.clear
  .marketing-title
    .marketing-title-image
      %a{href: '/'}
        = image_tag 'KudosoLogo_300.png'
    .marketing-title-tagline
      Changing the way families
      %br
      manage technology
  #screentime-headline.marketing-headline
    .marketing-headline-header
      %span.hidden-xs
        Control Obsessions,
      %span.superbold
        Limit Screen Time
  .marketing-links.small-marketing-links
    %a{href: '/content_filtering'}
      .marketing-link.small-marketing-link
        .marketing-link-title.title-bottom
          Filter & Protect
    %a{href: '/kudos'}
      .marketing-link.small-marketing-link
        .marketing-link-title.title-bottom
          Learn & Earn
    %a{href: '/rewards'}
      .marketing-link.small-marketing-link
        .marketing-link-title.title-bottom
          Fun & Rewards
  .marketing-intro
    .marketing-intro-header
      Kudoso Screen Time Controls
    .marketing-intro-body
      Kudoso provides the most comprehensive screen time management system available.  No other solution lets you control
      screen time across ALL devices in your home including: Mobile, Destop, Television and Game Consoles.
  .marketing-features.blue
    .row
      .col-xs-10.col-xs-offset-1
        .marketing-features-header
          %hr
        .marketing-features-title
          .marketing-features-title-inside.blue
            Features
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-videogame
          .feature-body
            .feature-title
              Set Screen Time Limits
            on more devices than ANY other solution, virtually every electronic device in your home
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-grid
          .feature-body
            .feature-title
              Comprehensive screen time management
            of Televisions, Movie Players, Game Consoles, Smart Phones, Tablets and Computers
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-like
          .feature-body
            .feature-title
              Simple & Easy
            to use interface allows you to limit screen time with a single click or create advanced schedules
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-smartphone
          .feature-body
            .feature-title
              Incredibly Customizable
            features allow you to block access to screen time based on activity, device, or even time-of-day (like during school hours or middle of the night)
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-check
          .feature-body
            .feature-title
              Teach Priorities
            by restricting screen time to only when the child's required ToDos (chores) are complete, Kudoso makes it simple
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-piechart
          .feature-body
            .feature-title
              Powerful reports
            allow you to view your child's activity in real time, create and approve screen time overrides dynamically
  .marketing-body
    .row
      .col-md-10.col-md-offset-1.col-xs-offset-0
        %h3 What makes Kudoso unique
        Kudoso is able to control more technology in your home than any other solution because we use a combination of
        hardware and software.  The solution begins with Kudoso software that gets installed on all computing devices like
        smart phones, tablets, desktop & laptop computers.  Then, we add the Kudoso Plug, a lockable smart-plug that
        brings software control to all the "dumb" electronics in the home like your television or game consoles.
    .row
      .col-md-4.col-md-offset-1.col-xs-offset-0
        = image_tag 'kudoso_plug_with_unit.png', alt: 'Kudoso Plug: the Lockable SmartPlug', class: 'img-responsive'
      .col-md-5.col-md-offset-1.col-xs-offset-0
        %h3
          %span.feature-title
            Kudoso Plug
          \: the Lockable SmartPlug
        Just like we can use wirelessly connected outlets and switches to control the lights in our house, the
        %span.feature-title
          Kudoso Plug
        lets parents control when electronics can be turned on and used.  The Kudoso Plug features a clam-shell housing
        that creates a physical lock over the electrical cord of the device it is controlling, preventing kids from simply
        unplugging their device from the Kudoso Plug and utilizing a standard outlet.
  .marketing-features.green
    .row
      .col-xs-10.col-xs-offset-1
        .marketing-features-header
          %hr
        .marketing-features-title
          .marketing-features-title-inside.green
            Kudoso Controls
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-videogame
          .feature-body
            .feature-title
              Game Consoles
            including Playstation 2, 3 & 4, Xbox 360 & One, and Nintendo Wii
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-tv
          .feature-body
            .feature-title
              Consumer Electronics
            including Televisions, BluRay & DVD Players, and Stereos
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-smartphone
          .feature-body
            .feature-title
              Apple iOS
            devices (iOS 6+) including iPhone, iPad and iPod Touch devices
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-tablet
          .feature-body
            .feature-title
              Android Devices
            including all Android phones & tables running Android 4.1 or greater (including Amazon Kindle Fire/FireHD)
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-desktop
          .feature-body
            .feature-title
              Computers
            including Windows (version 8+) and Mac (OS X 10.6+)
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-clapboard
          .feature-body
            .feature-title
              Streaming Media
            devices including Roku, AppleTV, and Amazon FireTV.
  .marketing-features.white
    = render partial: 'home/todos'