%section.k-intro.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle.k-teach
  .uk-container.uk-container-center
    %article.uk-width-large-6-10.uk-width-medium-9-10.uk-width-small-1-1.uk-container-center
      %header
        %h2.uk-contrast The Tools to Teach
        %p.first
          =render partial: 'home/teach_paragraph'
      .k-intro-spot
%section#features.k-features.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article
      %h2
        %strong Teach
        Features
      %p.uk-width-medium-4-5.uk-container-center Kudoso Tasks starts with age appropriate "chores", customized for your child that are their responsibility each and every day.  Then you can add to that list parent directed activities like progress on a specific homework project, or practicing a specific sport or instrument based on your child’s activities and interests.  If it’s a measurable behavior that you want to encourage, you can make it part of your child’s Kudoso Tasks.  Once the task list is complete, their rewards (Kudos) are earned and a predetermined amount of screen time is unlocked without you having to do anything.  It teaches independence, responsibility and rewards kids for a job well done!
      %ul.k-feature-set.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-grid-large
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "20", :y2 => "6"}
                %path{:d => "M36,20H12 C6.5,20,2,24.5,2,30s4.5,10,10,10c4.1,0,7.6-2.5,9.2-6h5.7c1.5,3.5,5.1,6,9.2,6c5.5,0,10-4.5,10-10S41.5,20,36,20z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "12", :x2 => "12", :y1 => "26", :y2 => "34"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "8", :x2 => "16", :y1 => "30", :y2 => "30"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "34", :x2 => "36", :y1 => "28", :y2 => "26"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "36", :x2 => "38", :y1 => "34", :y2 => "32"}
          / <h4 class="k-feature-title uk-hidden">Title 1</h4>
          %p.k-feature-desc
            %strong Fast &amp; Easy
            setup.  Parents can instantly assign Kudoso Tasks with a single click from a prepopulated list of age appropriate chores we’ve gathered from experts in child development.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g
                %polyline{:fill => "none", :points => "32,4 44,4 44,46 4,46 4,4 16,4 ", :stroke => "#1967f8", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "32,10 38,10 38,40 10,40 10,10 16,10 ", :stroke => "#1967f8", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 18,26 22,30 30,22 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M16,2v12h4c0-2.2,1.8-4,4-4 s4,1.8,4,4h4V2H16z", :fill => "none", :stroke => "#1967f8", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Completely Customizable Tasks
            allow you to create and assign your own tasks to each child based on their individual activities, responsibilities, capabilities and talents.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M10,12V8c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v4", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M16,12V7c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v5", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M28,12V7c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v5", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M22,12V5c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v7", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "27.1,31 2,31 2,12 45,12 45,31 40,31 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "23", :cy => "22", "data-color" => "color-2", :fill => "none", :r => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "14", :x2 => "8", :y1 => "17", :y2 => "17"}
                %path{:d => "M10,31c0,8.3,6.7,15,15,15 s15-6.7,15-15V18c-3.5,0-6,2.5-6,6v4c-4.7,0-9,3.7-9,8", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Tasks Are More
            than chores, you can add enrichment activities to child's daily Tasks such as "play outside for 30 minutes" or "math exercises at Khan Academy" encouraging children to start and maintain healthy routines without the hassle of remembering to enforce it day in and day out.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "36", :y2 => "44"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "20", :x2 => "12", :y1 => "36", :y2 => "46"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "28", :x2 => "36", :y1 => "36", :y2 => "46"}
                %rect{"data-color" => "color-2", :fill => "none", :height => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "4", :x => "22", :y => "4"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "34,18 24,28 18,22 14,26 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "28,18 34,18 34,24 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "42,36 42,8 6,8 6,36 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "2", :x2 => "46", :y1 => "36", :y2 => "36"}
          %p.k-feature-desc
            %strong Connected Partners
            like Khan Academy and FitBit lead kids to choose healthy alternatives to screen time while encouraging growth, exploration and life-long learning.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M4,24c0,0,7.9-14,20-14 c12,0,20,14,20,14s-8.1,14-20,14C12,38,4,24,4,24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "24", :cy => "24", "data-color" => "color-2", :fill => "none", :r => "7", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Kids Earn Kudos
            for every Task they complete providing an instant “reward” toward something they find of value.  Kudos can be used to earn extra screen time as well as other privileges and even a real world toy or product.  Kudos are the positive incentives our children need to use electronics in a healthy way while also teaching life skills around budgeting, priorities and time management.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %circle{:cx => "24", :cy => "38", "data-color" => "color-2", :fill => "none", :r => "2", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "12", :y2 => "12"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "30", :y2 => "30"}
                %path{:d => "M34,46H14c-2.2,0-4-1.8-4-4 V6c0-2.2,1.8-4,4-4h20c2.2,0,4,1.8,4,4v36C38,44.2,36.2,46,34,46z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Handling Chores
            and other things kids need to do is easy with Kudoso, kids are presented with a Task list that has both required and optional chores and screen time is locked until chores are done.
%section.k-info.k-section.uk-clearfix
  .uk-container.uk-container-center
    %article
      %header
        %h2 Kudos your kids will Love!
      %p Kudos are the heart of Kudoso, after all that is where our name comes from! Kudos are a virtual currency that parents use to encourage and direct their children. We built Kudoso to avoid the negative authoritarian style that most parental control apps employ.
      %p
        Specifically, Kudos are earned by kids for not only doing what they have to do, but by doing what we as parents
        %em want
        them to do. Parents can setup Kudoso Tasks which connect to activities provided by Kudoso Connected Partners, such as Kahn Academy and FitBit.  Kids can earn their Kudos by completing these activities or those you deem a priority for your child.
      %figure
        =image_tag 'Khan-Academy-Logo.png', alt: ''
        %figcaption
      %h3 Kudoso Connected Partners
      %p Through Kudoso Connected Partners we are able to bring an unlimited world of content (apps, television, websites, movies, music &amp; offline activities) to encourage, inspire, motivate, educate and entertain your children.
      %p Current Kudoso Connected Partners Include
      %ul
        %li Khan Academy
        %li Fit Bit
        %li
          %a{:href => "/"} Suggest a partner!
      %p Kudoso is constantly seeking and integrating new partners into our Intentional Parenting Model. We can't list them all here yet, but be sure to sign up for our newsletter and follow us on social media to see which new Connected Partners we have paired with and suggest your own favorites.
= render 'home/news'