%h1 Listing Themes

%table.uk-table.uk-table-striped
  %thead
    %tr
      %th Name
      %th JSON
      %th
      %th

  %tbody
    - @themes.each do |theme|
      %tr
        %td= theme.name
        %td= link_to 'Edit', edit_admin_theme_path(theme)
        %td= link_to 'Destroy', admin_theme_path(theme), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Theme', new_admin_theme_path
