<html>

<head></head>

<body>
    <%= "Hello World on #{Date.today}" %>
    <hr>
    <h2>Upload new firmware:</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        File: <input type="file" name="filename"><br />
        <input type="submit" value="Upload">
    </form>
</body>

</html>