@import 'mixins';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: proxima-nova, "Helvetica Neue", verdana, sans-serif;
  background: $sky_blue;
  min-height: 100%;
}

body {
  font-size: 1.3rem;
  line-height: 1.5em;
  color: #111;
}

h1,
h2,
h3,
h4 {
  font-family: proxima-nova, "Helvetica Neue", verdana, sans-serif;
  font-weight: bold;
  color: #111;
  font-weight: 200;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 1.4em;
  margin: 1.8em 0 1.3em;
}

.uk-sticky-placeholder header {
  background: $sky_blue;
  color: $bright_white;
  padding: 1.2em !important;
  z-index: 100;
}

.k-logo {
  float: left;
}

.k-nav {
  float: right;
  margin-top: 1.1em;
  font-weight: 200;
}

.k-nav .uk-nav-sub {
  background: $sky_blue;
}

.k-nav .uk-subnav-pill>.uk-active>* {
  background: $bright_white;
  color: $sky_blue;
}

.k-nav a {
  color: $bright_white;
}

.k-nav a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: $sky_blue;
}

main>section {
  position: relative;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
  clear: both;
}

main>section h2 {
  font-size: 2.65em;
  line-height: 1em;
  margin-bottom: 0.5em;
  font-weight: 200;
}

.k-main-admin {
  background: $eggshell;
  min-height: 100vh;
}

.k-section {
  min-height: 100vh;
}

section p.first {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 1.5em;
}

section.k-intro {
  background: $sky_blue;
  color: $bright_white;
}

section.k-info {
  background: $apricot;
  color: #141414;
}

section.k-info h2 {
  text-align: center;
}

section.k-info article {
  width: 90%;
  margin: auto;
  text-align: left;
}

section.k-info figure {
  float: right;
  margin-left: 1em;
  width: 40%;
}

.k-intro article h2 {
  font-weight: 200;
  line-height: 1.2;
}

.k-intro article p.first {
  font-size: 1.2em;
  font-weight: 200;
}

.k-protect .k-hero,
.k-limit .k-hero,
.k-teach .k-hero,
.k-reward .k-hero {
  display: none;
}

.k-protect.k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("mom_ipad_detail_1140x500.jpg");
}

.k-protect.k-intro header {
  background: rgba(0, 0, 0, 0.5);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-protect.k-intro header p {
  opacity: 0.9;
}

.k-limit.k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("kids_gaming_1140x500.jpg");
}

.k-limit.k-intro header {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-limit.k-intro header p {
  opacity: 0.9;
}

.k-teach.k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("kids_dishes_1140x500.jpg");
}

.k-teach.k-intro header {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-teach.k-intro header p {
  opacity: 0.9;
}

.k-reward .k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("kids_sports_1140x500.jpg");
}

.k-reward .k-intro header {
  background: rgba(0, 0, 0, 0.8);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-reward .k-intro header p {
  opacity: 0.9;
}

.k-home .k-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("kids-and-devices-blue.png");
  min-height: 100vh;
}

.k-footer {
  background: white;
  padding-top: 7%;
  padding-bottom: 7%;
}

.k-footer #legal {
  font-family: proxima-nova-condensed, "Helvetica Neue", verdana, sans-serif;
  color: #AAA;
  font-style: italic;
}

.k-footer #legal li {
  margin-bottom: 0.5em;
}

.k-footer .k-social-link {
  background: #ccc;
  border-radius: 30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: white;
  padding: 7px;
  margin-top: 0.5em;
}

.k-footer #k-logo-footer #logo {
  color: red;
}

.k-footer .k-footer-newsletter {
  border-left: 1px solid $eggshell;
}

.k-footer .k-footer-newsletter small {
  display: block;
  text-align: center;
  color: #ccc;
}

.k-features {
  background: $bright_white;
}

.k-features .k-feature {
  text-align: left;
  position: relative;
  padding-left: 100px;
}

.k-features .k-feature-icon {
  position: absolute;
  left: 25px;
  top: 20px;
}

main>section.k-fundamentals {
  background: #ccc;
  min-height: inherit !important;
  padding: 0;
}

main>section.k-fundamentals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main>section.k-fundamentals .k-fundamental {
  background: blue;
  padding: 0;
  margin: 0;
}

main>section.k-fundamentals .k-fundamental img {
  width: 100%;
}

main>section.k-fundamentals .k-protect {
  background: green;
}

main>section.k-fundamentals .k-limit {
  background: red;
}

main>section.k-fundamentals .k-teach {
  background: orange;
}

.k-newsletter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 3%;
  border-radius: 10px;
}

.k-newsletter small {
  color: #777;
  font-size: 0.9rem;
}

.k-news {
  min-height: 50vh;
  background: #111;
}

.k-news article {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.k-news article ul {
  list-style: none;
}

.k-news article ul li {
  display: inline-block;
  margin: 1em;
}