// Mixins
@mixin base-fontstack {
<<<<<<< HEAD
    font-family: proxima-nova, "Helvetica Neue", verdana, sans-serif;
=======
  font-family: proxima-nova, "Helvetica Neue", verdana, sans-serif;
}

// Colors
$white: #fff;
$black: #111;
$pale-sky: #97C1F5;
$sky: #1D80FA;
$dark-sky: #165FB8;
$night-sky: #0B315F;
$apricot: #FDB941;
$orange: #F76F20;
$eggshell: #eee;


// Base Styles
* {
  box-sizing: border-box;
}

html,
body {
  @include base-fontstack;
  background: $sky;
  min-height: 100%;
}

body {
  font-size: 1.3rem;
  line-height: 1.5em;
  color: $black;
}

h1,
h2,
h3,
h4 {
  @include base-fontstack;
  font-weight: bold;
  color: $black;
  font-weight: 200;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 1.4em;
  margin: 1.8em 0 1.3em;
}

// Header Styles
.uk-sticky-placeholder header {
  background: $sky;
  color: $white;
  padding: 1.2em !important;
  z-index: 100;
  background: -webkit-linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%);
  /* IE10 */
  background: -o-linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%);
  /* Opera 11.10+ */
  background: linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%);
  /* W3C */
>>>>>>> 992a42491dc2ec4b996eb28aaa06b5466fdfeeaa
}
// Colors
$white: #fff;
$black: #111;
$pale-sky: #97C1F5;
$sky: #1D80FA;
$dark-sky: #165FB8;
$night-sky: #0B315F;
$apricot: #FDB941;
$orange: #F76F20;
$eggshell: #eee;

<<<<<<< HEAD

// Base Styles
* {
    box-sizing: border-box; }

html, body {
    @include base-fontstack;
    background: $sky;
    min-height: 100%;
}

body {
    font-size: 1.3rem;
    line-height: 1.5em;
    color: $black; }

h1, h2, h3, h4 {
    @include base-fontstack;
    font-weight: bold;
    color: $black;
    font-weight: 200; }

h2 {
    font-size: 44px; }

h3 {
    font-size: 1.4em;
    margin: 1.8em 0 1.3em; }

// Header Styles
.uk-sticky-placeholder header {
    background: $sky;
    color: $white;
    padding: 1.2em !important;
    z-index: 100;
    background: -webkit-linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%); /* IE10 */
    background:      -o-linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%); /* Opera 11.10+ */
    background:         linear-gradient(180deg, $sky 10%, darken($sky, 10%) 90%); /* W3C */
}

.k-logo {
    float: left; }

.k-nav {
    float: right;
    margin-top: 1.1em;
    font-weight: 200; }
.k-nav .uk-nav-sub {
  background: $sky;
}
.k-nav .uk-subnav-pill > .uk-active > * {
    background: $white;
    color: $sky; }
.k-nav a {
    color: $white; }
.k-nav a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: $sky; }

.k-index-header {
  margin-top: -7%;
}

// Section Styles
main > section {
    position: relative;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    clear: both; }
main > section h2 {
    font-size: 2.65em;
    line-height: 1em;
    margin-bottom: 0.5em;
    font-weight: 200; }

.k-main-admin {
  background: $eggshell;
  min-height: 100vh;
}

.k-section {
    //min-height: 100vh;
}

section p.first {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 1.5em; }

section.k-intro {
    background: $sky;
    color: $white;
    min-height: 70vh;
}

section.k-info {
    background: $apricot;
    color: #141414; }
section.k-info h2 {
    text-align: center; }
section.k-info article {
    width: 90%;
    margin: auto;
    text-align: left; }
section.k-info figure {
    float: right;
    margin-left: 1em;
    width: 40%; }

.k-intro article h2 {
    font-weight: 200;
    line-height: 1.2; }
.k-intro article p.first {
    font-size: 1.2em;
    font-weight: 200; }

.k-protect .k-hero, .k-limit .k-hero, .k-teach .k-hero, .k-reward .k-hero {
    display: none; }

.k-home .k-intro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 7%;
    padding-bottom: 7%;
    //background-image: url(https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?q=80&fm=jpg&s=a8c0ccdc8b018bc32f848533bc1348ac); }
    // background-image: url(https://images.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?q=80&fm=jpg&s=04b191d88d2ab0f8c66a46d1e33a902d);
    background-image: asset-url("kids-and-devices-blue.png");

}

.k-home .k-intro header {
    background: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px); }
.k-home .k-intro header p {
    opacity: 0.9; }

.k-protect.k-intro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: asset-url("mom_ipad_detail_1140x500.jpg"); }
.k-protect.k-intro header {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px); }
.k-protect.k-intro header p {
    opacity: 0.9; }

.k-limit.k-intro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: asset-url("kids_gaming_1140x500.jpg"); }
.k-limit.k-intro header {
    background: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px); }
.k-limit.k-intro header p {
    opacity: 0.9; }

.k-teach.k-intro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: asset-url("kids_dishes_1140x500.jpg"); }
.k-teach.k-intro header {
    background: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px); }
.k-teach.k-intro header p {
    opacity: 0.9; }

.k-reward.k-intro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: asset-url("kids_sports_1140x500.jpg"); }
.k-reward.k-intro header {
    background: rgba(0, 0, 0, 0.8);
    padding: 2em;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px); }
.k-reward.k-intro header p {
    opacity: 0.9; }

.k-home .k-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: url(https://images.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?q=80&fm=jpg&s=04b191d88d2ab0f8c66a46d1e33a902d);
}

.k-footer {
    background: white;
    padding-top: 7%;
    padding-bottom: 7%; }
.k-footer #legal {
    font-family: proxima-nova-condensed, "Helvetica Neue", verdana, sans-serif;
    color: #AAA;
    font-style: italic; }
.k-footer #legal li {
    margin-bottom: 0.5em; }
.k-footer .k-social-link {
    background: #ccc;
    border-radius: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    padding: 7px;
    margin-top: 0.5em; }
.k-footer #k-logo-footer #logo {
    color: red; }
.k-footer .k-footer-newsletter {
    border-left: 1px solid $eggshell; }
.k-footer .k-footer-newsletter small {
    display: block;
    text-align: center;
    color: #ccc; }

.k-features {
    background: $white; }
.k-features .k-feature {
    text-align: left;
    position: relative;
    padding-left: 100px; }
.k-features .k-feature-icon {
    position: absolute;
    left: 25px;
    top: 20px; }

.k-fundamental h2 {
    font-weight: 700;
    margin-bottom: 0;
}

main > section.k-fundamentals {
    background: #ccc;
    min-height: inherit !important;
    padding: 0; }
main > section.k-fundamentals ul {
    list-style: none;
    margin: 0;
    padding: 0; }
main > section.k-fundamentals .k-fundamental {
    background: blue;
    padding: 0;
    margin: 0; }
main > section.k-fundamentals .k-fundamental img {
    width: 100%; }
main > section.k-fundamentals .k-protect {
    background: green; }
main > section.k-fundamentals .k-limit {
    background: red; }
main > section.k-fundamentals .k-teach {
    background: orange; }

.k-newsletter {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 3%;
    border-radius: 10px; }
.k-newsletter small {
    color: #777;
    font-size: 0.9rem; }

.k-news {
    min-height: 50vh;
    background: $black; }
.k-news article {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%; }
.k-news article ul {
    list-style: none; }
.k-news article ul li {
    display: inline-block;
    margin: 1em; }

.k-contact {
  #map-container {
    height: 300px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 7px;
  }
  #map-canvas {
    height: 284px;
    width: 100%;
  }
}

.k-overlay-menu {
    background: rgba(27, 97, 255, .8);
}
.k-overlay-menu .uk-modal-dialog {
    width: 320px;
    a { display: block; }
}

.k-grid-nomargin {
  margin: 0;
}

.k-normal {
  font-size: 1rem;
  line-height: 1.5rem;
}

// Phone Portrait
@media screen and (max-width: 480px) {
    .k-page-header.uk-active {
      padding: 0 !important;
      max-height: 46px;
      .k-logo {
        padding-top: 8px;
        img {
          max-height: 30px;
        }
      }
    }
    .k-logo {
        float: none;
        img {
          max-width: 70%;
          max-height: 50px;
        }
    }
    .k-nav > a {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

// Phone Landscape
@media screen and (min-width: 480px)  and (max-width: 767px) {
  .k-page-header.uk-active {
    padding: 0 !important;
    max-height: 46px;
    .k-logo {
      padding-top: 8px;
=======
.k-logo {
  float: left;
}

.k-nav {
  float: right;
  margin-top: 1.1em;
  font-weight: 200;
}

.k-nav .uk-nav-sub {
  background: $sky;
}

.k-nav .uk-subnav-pill>.uk-active>* {
  background: $white;
  color: $sky;
}

.k-nav a {
  color: $white;
}

.k-nav a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: $sky;
}

.k-index-header {
  margin-top: -7%;
}

// Section Styles
main>section {
  position: relative;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
  clear: both;
}

main>section h2 {
  font-size: 2.65em;
  line-height: 1em;
  margin-bottom: 0.5em;
  font-weight: 200;
}

.k-main-admin {
  background: $eggshell;
  min-height: 100vh;
}

.k-section {
  //min-height: 100vh;
}

section p.first {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 1.5em;
}

section.k-intro {
  background: $sky;
  color: $white;
  min-height: 70vh;
}

section.k-info {
  background: $apricot;
  color: #141414;
}

section.k-info h2 {
  text-align: center;
}

section.k-info article {
  width: 90%;
  margin: auto;
  text-align: left;
}

section.k-info figure {
  float: right;
  margin-left: 1em;
  width: 40%;
}

.k-intro article h2 {
  font-weight: 200;
  line-height: 1.2;
}

.k-intro article p.first {
  font-size: 1.2em;
  font-weight: 200;
}

.k-protect .k-hero,
.k-limit .k-hero,
.k-teach .k-hero,
.k-reward .k-hero {
  display: none;
}

.k-home .k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 7%;
  padding-bottom: 7%;
  //background-image: url(https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?q=80&fm=jpg&s=a8c0ccdc8b018bc32f848533bc1348ac); }
  // background-image: url(https://images.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?q=80&fm=jpg&s=04b191d88d2ab0f8c66a46d1e33a902d);
  background-image: asset-url("kids-and-devices-blue.png");

}

.k-home .k-intro header {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-home .k-intro header p {
  opacity: 0.9;
}

.k-protect.k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("mom_ipad_detail_1140x500.jpg");
}

.k-protect.k-intro header {
  background: rgba(0, 0, 0, 0.5);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-protect.k-intro header p {
  opacity: 0.9;
}

.k-limit.k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("kids_gaming_1140x500.jpg");
}

.k-limit.k-intro header {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-limit.k-intro header p {
  opacity: 0.9;
}

.k-teach.k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("kids_dishes_1140x500.jpg");
}

.k-teach.k-intro header {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-teach.k-intro header p {
  opacity: 0.9;
}

.k-reward.k-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: asset-url("kids_sports_1140x500.jpg");
}

.k-reward.k-intro header {
  background: rgba(0, 0, 0, 0.8);
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
}

.k-reward.k-intro header p {
  opacity: 0.9;
}

.k-home .k-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: url(https://images.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?q=80&fm=jpg&s=04b191d88d2ab0f8c66a46d1e33a902d);
}

.k-footer {
  background: white;
  padding-top: 7%;
  padding-bottom: 7%;
}

.k-footer #legal {
  font-family: proxima-nova-condensed, "Helvetica Neue", verdana, sans-serif;
  color: #AAA;
  font-style: italic;
}

.k-footer #legal li {
  margin-bottom: 0.5em;
}

.k-footer .k-social-link {
  background: #ccc;
  border-radius: 30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: white;
  padding: 7px;
  margin-top: 0.5em;
}

.k-footer #k-logo-footer #logo {
  color: red;
}

.k-footer .k-footer-newsletter {
  border-left: 1px solid $eggshell;
}

.k-footer .k-footer-newsletter small {
  display: block;
  text-align: center;
  color: #ccc;
}

.k-features {
  background: $white;
}

.k-features .k-feature {
  text-align: left;
  position: relative;
  padding-left: 100px;
}

.k-features .k-feature-icon {
  position: absolute;
  left: 25px;
  top: 20px;
}

.k-fundamental h2 {
  font-weight: 700;
  margin-bottom: 0;
}

main>section.k-fundamentals {
  background: #ccc;
  min-height: inherit !important;
  padding: 0;
}

main>section.k-fundamentals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main>section.k-fundamentals .k-fundamental {
  background: blue;
  padding: 0;
  margin: 0;
}

main>section.k-fundamentals .k-fundamental img {
  width: 100%;
}

main>section.k-fundamentals .k-protect {
  background: green;
}

main>section.k-fundamentals .k-limit {
  background: red;
}

main>section.k-fundamentals .k-teach {
  background: orange;
}

.k-newsletter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 3%;
  border-radius: 10px;
}

.k-newsletter small {
  color: #777;
  font-size: 0.9rem;
}

.k-news {
  min-height: 50vh;
  background: $black;
}

.k-news article {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.k-news article ul {
  list-style: none;
}

.k-news article ul li {
  display: inline-block;
  margin: 1em;
}

.k-contact {
  #map-container {
    height: 300px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 7px;
  }

  #map-canvas {
    height: 284px;
    width: 100%;
  }
}

.k-overlay-menu {
  background: rgba(27, 97, 255, .8);
}

.k-overlay-menu .uk-modal-dialog {
  width: 320px;

  a {
    display: block;
  }
}

// Phone Portrait
@media screen and (max-width: 480px) {
  .k-page-header.uk-active {
    padding: 0 !important;
    max-height: 46px;

    .k-logo {
      padding-top: 8px;

>>>>>>> 992a42491dc2ec4b996eb28aaa06b5466fdfeeaa
      img {
        max-height: 30px;
      }
    }
  }
<<<<<<< HEAD
    .k-logo {
        float: none;
        img {
          max-width: 70%;
          max-height: 50px;
        }
    }
    .k-nav > a {
        position: absolute;
        top: 15px;
        right: 15px;
    }
=======

  .k-logo {
    float: none;

    img {
      max-width: 70%;
      max-height: 50px;
    }
  }

  .k-nav>a {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

// Phone Landscape
@media screen and (min-width: 480px) and (max-width: 767px) {
  .k-page-header.uk-active {
    padding: 0 !important;
    max-height: 46px;

    .k-logo {
      padding-top: 8px;

      img {
        max-height: 30px;
      }
    }
  }

  .k-logo {
    float: none;

    img {
      max-width: 70%;
      max-height: 50px;
    }
  }

  .k-nav>a {
    position: absolute;
    top: 15px;
    right: 15px;
  }
>>>>>>> 992a42491dc2ec4b996eb28aaa06b5466fdfeeaa
}