/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "scrolling-nav";
@import 'bourbon';
@import 'mixins';
@import 'jquery.ui.core';
@import 'jquery.ui.datepicker';
@import 'recurring_select';
@import 'font-awesome';
@import 'todos';
@import 'todo_schedules';
@import 'todo_templates';
@import 'devices';
@import 'family_activities';
@import 'animate.min';
@import 'pricing_table';
@import 'simpletextrotator';
html {
  width: 100%;
  height: 100%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100%;
  background: image-url('landing-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.blur {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: rgba(255, 255, 255, .85);
}

#main {
  height: 100%;
  width: 100%;
}

/* bootstrap 3 helpers */

@include MQ(M) {
  .navbar-nav {
    height: 60px;
  }
}

.navbar-form input,
.form-inline input {
  width: auto;
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0.86);
  border-color: #e7e7e7;
}

.navbar-brand {
  padding: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
  font-size: 2rem;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  font-size: 2rem;
  background-color: rgba(72, 126, 164, 0.51);
  padding-bottom: 40px;
}

header {
  height: 80px;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.filler {
  width: 100%;
  height: 60px;
}

.button {
  cursor: pointer;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: darken($theme-color, 10%);
  padding: 20px 30px 20px 30px;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: $theme-color;
  text-align: center;
  display: inline-block;
}

.large {
  font-size: 2rem;
}

.button:hover {
  background-color: darken($theme-color, 5%);
  text-decoration: none;
  color: white;
}

.secondary {
  background-color: $secondary-color;
  border-color: darken($secondary-color, 10%);
  color: $theme-color;
}

.secondary:hover {
  background-color: lighten($secondary-color, 5%);
  text-decoration: none;
  color: $theme-color;
}

.primary {
  background-color: $kudoso-green;
  border-color: darken($kudoso-green, 10%);
  color: white;
}

.primary:hover {
  background-color: lighten($kudoso-green, 5%);
  text-decoration: none;
  color: white;
}

.radius {
  border-radius: 14px;
}

#home {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 0;
  .top {
    padding-top: 120px;
    height: 33%;
    width: 100%;
    text-align: center;
    position: relative;
    .logo {
      top: 20%;
      img {
        max-width: 100%;
      }
    }
  }
  .mid {
    height: 33%;
    width: 100%;
    text-align: center;
    position: relative;
    h1 {
      color: white;
      font-size: 2rem;
      text-shadow: 2px 2px #4f4f4f;
      background-color: rgba(16, 16, 16, 0.77);
      padding: 5px 25px 5px 25px;
    }
  }
  .bottom {
    height: 33%;
    width: 100%;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
      li {
        display: inline;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}

@include MQ(M) {
  #home {
    margin-bottom: -160px;
  }
}

.kudoso-block {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  .header-right {
    position: relative;
    top: 0;
    text-align: right;
    vertical-align: middle;
    padding-right: 80px;
    margin-left: 30%;
    height: 200px;
    line-height: 200px;
    font-size: 60px;
    color: #ffffff;
    background-color: #4A4A4A;
  }
  .behind-header {
    position: relative;
    top: 0;
    width: 40%;
    min-width: 400px;
    text-align: center;
    vertical-align: middle;
    height: 200px;
    margin-bottom: -110px;
    margin-left: -16px;
    font-size: 60px;
    color: #ffffff;
    background-color: #4A4A4A;
  }
  .header-left {
    position: relative;
    top: 0;
    text-align: left;
    vertical-align: middle;
    padding-left: 80px;
    margin-right: 30%;
    height: 200px;
    line-height: 200px;
    font-size: 60px;
    color: #ffffff;
    background-color: #4A4A4A;
  }
  .content-right {
    position: relative;
    vertical-align: middle;
    top: 0;
    text-align: left;
    min-height: 300px;
    padding-left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-size: 2rem;
    ul {
      list-style: circle;
    }
  }
  .content-left {
    position: relative;
    vertical-align: middle;
    top: 0;
    min-height: 300px;
    text-align: left;
    padding-right: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #ffffff;
    font-size: 2rem;
    ul {
      list-style: circle;
      padding-left: 20px;
    }
  }
  .green {
    background-color: $kudoso-green;
  }
  .gray {
    background-color: #9B9B9B;
  }
  .blue {
    background-color: #6095BB;
  }
  .white {
    background-color: #ffffff;
  }
  .image-left {
    position: absolute;
    top: 130px;
    width: 30%;
    left: 15%;
    img {
      width: 100%;
      padding: 0;
    }
  }
  .image-right {
    position: absolute;
    top: 130px;
    width: 30%;
    right: 15%;
    img {
      width: 100%;
      padding: 0;
    }
  }
}

.padded-block {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  padding: 20px 50px 20px 50px;
  color: #111111;
  background-color: #ffffff;
  font-size: 1.5rem;
  margin: 0 auto;
}

.block-shadow {
  border: 1px solid #979797;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50);
}

#features {
  position: relative;
  top: 0;
  min-height: 100%;
  width: 100%;
  background-color: #ffffff;
}

#how {
  position: relative;
  top: 0;
  min-height: 100%;
  width: 100%;
  background-color: white;
}

#pricing {
  padding: 1em;
  padding-top: 60px;
  position: relative;
  top: 0;
  min-height: 100%;
  width: 100%;
  background-color: $kudoso-green;
}

#about {
  position: relative;
  top: 0;
  width: 100%;
  background-color: $secondary-color;
  padding: 20px 20px 20px 50px;
}

#footer {
  position: relative;
  top: 0;
  background-color: $dark-blue;
  width: 100%;
  padding: 1em;
  font-size: .8rem;
  #footer-boxes {
    position: relative;
    top: 0;
    padding-top: 20px;
    height: 220px;
  }
  .footer-box {
    display: inline;
    position: relative;
    float: left;
    width: 21%;
    margin-right: 1.5%;
    margin-left: 0;
    height: 200px;
    h2 {
      font-size: 1.2rem;
      font-weight: bolder;
      font-variant: small-caps;
      color: #A3ACAC;
      text-shadow: #000 -1px -1px;
      margin-bottom: 15px;
    }
    a {
      display: block;
      color: white;
      font-size: 14px;
      line-height: 24px;
      text-shadow: #000 -1px -1px;
    }
    a:hover {
      color: #c6c6c6;
      text-decoration: none;
    }
    a:visited {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
    a:visited:hover {
      color: #c6c6c6;
      text-decoration: none;
    }
  }
  .footer-box:nth-child(n) {
    margin-right: 3.5%;
    float: left;
    clear: none;
  }
  .copyright {
    padding: 10px 0px 0px 0px;
    color: #AAAAAA;
    font-size: 14px;
    line-height: 23px;
    text-shadow: #000 -1px -1px;
    text-align: center;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  .margin {
    margin: 0 2.5%;
  }
}

.full-screen {
  position: relative;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.clear {
  clear: both;
}

.action-buttons {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    li {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.contrast {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 1px 10px;
  -webkit-box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  p {
    font-size: inherit;
  }
}

.sharp-contrast {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 1em;
  text-align: center;
  h1 {
    color: white;
    font-size: 3rem;
  }
  p {
    font-size: inherit;
  }
}

small {
  font-size: small;
  color: #b9b9b9;
}

.flash-message {
  &.error {
    border: solid 4px #900;
    background-color: #FF6565;
  }
  &.success {
    border: solid 4px #26722D;
    background-color: #A4E7A0;
  }
  color: black;
  z-index: 999;
  position: fixed;
  font-weight: bold;
  width: 96%;
  min-width: 300px;
  max-width: 800px;
  padding: 10px;
  margin: 5px;
  p {
    font-size: 110%;
    margin: 15px 0;
  }
  a.close {
    position: absolute;
    top: -4px;
    right: 5px;
    text-decoration: none;
  }
  a.close:hover {
    text-decoration: none;
    color: lighten(black, 10%);
  }
}

.three-columns {
  .three-column {
    display: inline;
    float: left;
    width: 31%;
    margin-right: 1.5%;
    margin-left: 0;
  }
  .three-column:nth-child(n) {
    margin-right: 1.5%;
    float: left;
    clear: none;
  }
  img {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
  }
}

.todo_wrap {
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  .todo_name {
    font_size: 1.3em;
  }
  .todo.optional.incomplete {
    color: #41bb3c;
  }
  .todo.required {
    font-weight: bold;
  }
  .todo.required.incomplete {
    color: #ff4441;
  }
}

.rs_dialog_holder {
  z-index: 2000;
}

.centered {
  text-align: center;
}

ul.inline {
  overflow: auto;
  list-style-type: none;
}

ul.inline>li {
  display: inline-block;
  vertical-align: top;
}

.centered>ul.inline>li {
  padding-left: 1em;
  padding-right: 1em;
}

ul.inline.even>li {
  width: 250px;
}

#todo_history {
  ul {
    padding-left: 20px;
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
  li.complete:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 -15px;
    color: green;
  }
  li.incomplete:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    margin: 0 5px 0 -15px;
    color: red;
  }
}

//The accordion is closed
.accordion-icon:before {
  content: "\f0d7";
}

//The accordion is open
.active .accordion-icon:before {
  content: "\f0d8";
}

// How to slider
// https://github.com/nicinabox/superslides
#slides {
  position: relative;
  .slides-container {
    display: none;
  }
  .scrollable {
    @include clearfix;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  .slide-details {
    position: relative;
    width: 40%;
    min-width: 600px;
    left: 90px;
    top: 13%;
    padding: 10px 20px;
    h1 {
      font-size: 3rem;
      font-weight: normal;
      font-weight: 300;
      color: white;
      text-shadow: 0 1px 1px #000;
      margin: 30px 0;
      line-height: 3rem;
    }
  }
  .slide-second-details {
    position: absolute;
    width: 50%;
    max-width: 640px;
    right: 90px;
    bottom: 7%;
    padding: 10px 20px;
  }
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
  a {
    font-size: 5rem;
    position: absolute;
    display: block;
    color: white;
    text-shadow: 0 0 4px #000000;
    &.prev {
      left: 20px;
    }
    &.next {
      right: 20px;
    }
  }
  a:hover {
    color: darken(white, 10%);
  }
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.51);
  a {
    border: 2px solid #222;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    @include inline-block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=');
    margin: 2px;
    overflow: hidden;
    text-indent: -100%;
    &.current {
      background: #222;
    }
  }
}

// Callouts, from http://www.techrepublic.com/blog/web-designer/create-fancy-looking-call-outs-with-lightweight-css/
span.balloon {
  outline: none;
  text-decoration: none;
  color: $theme-color;
  cursor: pointer;
  max-width: 40%;
  strong {
    line-height: 30px;
    font-family: Candara, Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
  }
  img {
    border: none;
  }
  div {
    z-index: 10;
    display: none;
    padding: 5px 5px;
    margin-top: -30px;
    margin-left: 10px;
    min-width: 275px;
    line-height: 16px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 6px 6px 10px #CCC;
    -webkit-box-shadow: 6px 6px 10px #CCC;
    box-shadow: 6px 6px 10px #CCC;
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    font-size: .8em;
    p {
      font-size: .7em;
    }
  }
}

span.balloon:hover {
  text-decoration: none;
  text-outline: none;
  color: #F06;
  div {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
  }
  img {
    text-decoration: none;
    text-outline: none;
    border: none;
  }
  li {
    list-style: none;
  }
}

.arrow {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px;
  background-color: transparent;
}

.selected {
  background-color: $green-bg;
}

.timesel {
  cursor: pointer;
}

.simple-wrap {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 5px 5px 5px;
}

.rangeSelector {
  width: 100%;
  height: 400px;
  background-color: #487ea4;
  position: relative;
}

.st_restrictions {
  td {
    width: 12%;
  }
}

// Forms
//input.string, input.password {
//  border-width: 1px;
//  border-color: #000000;
//  background-color: white;
//  color: #212121;
//  font-size: 1.4rem;
//  height: 3rem;
//  margin: 3px 0 3px 3px;
//  border-radius: 8px;
//}
//
//.input-long {
//  width: 80%;
//  min-width: 400px;
//}
//.input-medium {
//  width: 40%;
//  min-width: 200px;
//}