/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import 'mixins';
@import 'jquery.ui.core';
@import 'jquery.ui.datepicker';
@import 'foundation';
@import 'foundation-datepicker';
@import 'recurring_select';
@import 'font-awesome';
@import 'todos';
@import 'todo_schedules';
@import 'todo_templates';
@import 'devices';
@import 'family_activities';

.todo_wrap {
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  .todo_name {
    font_size: 1.3em;
  }
  .todo.optional.incomplete {
    color: #41bb3c;
  }
  .todo.required {
    font-weight: bold;
  }
  .todo.required.incomplete {
    color: #ff4441;
  }
}

.rs_dialog_holder { z-index: 2000; }

.centered {
  text-align: center;
}

ul.inline {
  overflow: auto;
  list-style-type: none;
}
ul.inline > li {
  display: inline-block;
  vertical-align: top;
}
.centered > ul.inline > li {
  padding-left: 1em;
  padding-right: 1em;
}
ul.inline.even > li {
  width: 250px;
}

#todo_history {
  ul { padding-left:20px; list-style:none; }
  li { margin-bottom:10px; }
  li.complete:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
    color: green;
  }
  li.incomplete:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    margin:0 5px 0 -15px;
    color: red;
  }

}

//The accordion is closed
.accordion-icon:before {
  content: "\f0d7";
}
//The accordion is open
.active .accordion-icon:before {
  content: "\f0d8";
}