/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "scrolling-nav";
@import 'bourbon';
@import 'mixins';
@import 'jquery.ui.core';
@import 'jquery.ui.datepicker';
@import 'recurring_select';
@import 'font-awesome';
@import 'todos';
@import 'todo_schedules';
@import 'todo_templates';
@import 'devices';
@import 'family_activities';
@import 'animate.min';
@import 'pricing_table';
@import 'simpletextrotator';
@import 'bootstrap-datepicker3';

html {
  width: 100%;
  height: 90%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  width: 100%;
  height: 100%;
  font-family: "proxima-nova-alt", sans-serif;
  font-style: normal;
  font-weight: 100;
  /* background: #d2d2d2;
  background:asset-data-url('main-bg.png'); */
  background: #252525;
}



/* bootstrap 3 helpers */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  background: white;
  font-size: 14px;
  width: 100%;
  max-width: 600px;
  padding: 8px;
  border: 1px solid #B4B4B4;
  border-radius: 4px;
  outline: 0;
  margin: 0 auto;

  &:focus {
    background-color: white;
    @include box-shadow(#0095E1 0px 0px 4px 1px);
  }
}

select {}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  height: 60px;
  max-width: 100%;
}

label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 16px;
}

@include MQ(M) {
  .navbar-nav {
    height: 60px;
  }
}

.navbar-form input,
.form-inline input {
  width: auto;
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0.86);
  border-color: #e7e7e7;
}

.navbar-brand {
  padding: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
  font-size: 2rem;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  font-size: 2rem;
  background-color: rgba(72, 126, 164, 0.51);
  padding-bottom: 40px;
}

header {
  height: 80px;
}


#main {
  //min-height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 200px;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.marketing {
  width: 100%;
  position: relative;
  color: #444444;
  background-color: #ffffff;
  padding-bottom: 72px;
  margin-bottom: -100px;
  padding-left: 0;
  padding-right: 0;

  .marketing-title {
    position: relative;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;


    .marketing-title-tagline {
      padding-top: 10px;
      font-size: 21px;
    }
  }

  #landing-headline {
    background: image-url('landing-bg.jpg') no-repeat center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #screentime-headline {
    background: image-url('kids_gaming_1140x500.jpg') no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #filtering-headline {
    background: image-url('mom_ipad_detail_1140x500.jpg') no-repeat center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #kudos-headline {
    background: image-url('kids_dishes_1140x500.jpg') no-repeat 75% center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #rewards-headline {
    background: image-url('kids_sports_1140x500.jpg') no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .marketing-headline {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;

    .marketing-headline-header {
      height: 80px;
      background-color: rgba(0, 0, 0, 0.53);
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      line-height: 80px;
      font-style: italic;
      text-shadow: #000000 1px 1px;

      .superbold {
        font-weight: bolder;
        text-shadow: #000000 2px 2px;
      }
    }

    .marketing-headline-cta {
      position: absolute;
      right: 20px;
      top: 55px;
      width: 320px;
      background-color: $kudoso-blue;
      border: 2px solid #ffffff;
      border-radius: 8px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.56);
      text-align: center;
      padding: 15px 15px 15px 15px;
      font-weight: 500;

      .marketing-headline-cta-title {
        font-size: 1.5rem;
        padding-bottom: 15px;
        color: #fff;
      }

      .marketing-headline-cta-input {
        background-color: rgba(0, 0, 0, .5); //$kudoso-blue;
        border-radius: 4px;
        font-size: 1.8rem;
        padding: 10px 5px 5px 5px;

        .marketing-headline-cta-input-title {
          color: #fff;
        }

        .marketing-headline-cta-input-box {
          input {
            width: 100%;
            padding: 5px 0 5px 0;
            /* color: black; */

            border-radius: 5px;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
            border: 1px solid rgba(0, 0, 0, .5);
            padding: 7px 7px 4px;
            font-size: .9em;
            font-weight: 500;
            text-align: center;
          }
        }
      }

      .marketing-headline-cta-disclaimer {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.7);
        padding: 5px 0 10px 0;
      }

      .marketing-headline-cta-button {
        width: 100%;
        // height: 40px;
        border-radius: 8px;
        //background-color: rgb(37, 184, 157); //$kudoso-green;
        background-color: #26BC00; //rgb(38, 188, 0);
        background-image: linear-gradient(-180deg, #2FE700 0%, #26BC00 100%);
        color: white;
        font-size: 2rem;
        line-height: 40px;
        cursor: pointer;
        font-weight: bold;
        box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, .5);
        text-shadow: -1px -1px 1px rgba(0, 0, 0, .2);

        padding: 7px 5px;
      }
    }
  }

  .marketing-intro,
  .marketing-links-intro {
    width: 100%;
    background-color: #ffffff;
    padding: 5em 25px;
    text-align: center;
    position: relative;

    .marketing-intro-header,
    .marketing-links-intro-header {
      font-size: 3.5rem;
    }

    .marketing-intro-body {
      max-width: 720px;
      margin: 0 auto;
      font-size: 2.0rem;
    }

    .marketing-intro-video {
      max-width: 100%;
    }
  }

  .marketing-links-intro {
    color: #FFF;
    background: #222 none repeat scroll 0% 0% !important;
  }

  .marketing-headline-cta-inline {
    width: 100%;
    background-color: $dark-blue;
    text-align: center;
    padding: 15px 15px 15px 15px;
    color: white;
    margin-top: 20px;
    border-radius: 8px;

    .marketing-headline-cta-inline-title {
      font-size: 2rem;
      padding-bottom: 5px;
    }

    .marketing-headline-cta-inline-input {
      background-color: $kudoso-blue;
      color: white;
      border-radius: 8px;
      font-size: 1.8rem;
      padding: 10px 5px 5px 10px;

      .marketing-headline-cta-inline-input-title {}

      .marketing-headline-cta-inline-input-box {
        input {
          width: 100%;
          padding: 5px 0 5px 0;
          color: black;
        }
      }
    }

    .marketing-headline-cta-inline-disclaimer {
      font-size: 0.9rem;
      padding: 5px 0 10px 0;
    }

    .marketing-headline-cta-inline-button {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      background-color: $kudoso-green;
      color: white;
      font-size: 2rem;
      line-height: 40px;
      cursor: pointer;
    }
  }

  .marketing-features {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-top: 5em;
    padding-bottom: 5em;

    .marketing-features-header {
      padding: 20px 0 20px;
      position: relative;
      width: 100%;
      height: 80%;
    }

    .marketing-features-title {
      position: absolute;
      height: 80px;
      min-width: 170px;
      line-height: 80px;
      font-size: 24px;
      left: 50%;
      top: 0;
      text-align: center;

      .marketing-features-title-inside {
        position: relative;
        padding: 0 15px;
        left: -50%;
      }
    }

    .features {
      font-size: 1.7rem;

      .feature-icon {
        position: absolute;
        height: 80px;
        width: 70px;
        text-align: left;
        font-size: 3rem;
      }

      .feature-body {
        margin-left: 70px;
        padding-bottom: 15px;

      }
    }
  }

  .feature-title {
    display: inline;
    font-family: "proxima-nova-alt", sans-serif;
    font-weight: 700;
  }

  .marketing-body {
    padding: 20px 5px 20px 5px;

  }

  #link-protect {
    background: image-url('mom_ipad_detail_570x300.jpg') no-repeat center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #link-limit {
    background: image-url('kids_gaming_570x300.jpg') no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #link-kudos {
    background: image-url('kids_dishes_570x300.jpg') no-repeat 75% center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #link-reward {
    background: image-url('kids_sports_570x300.jpg') no-repeat 28% top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .marketing-link {
    cursor: pointer;
    position: relative;
    height: 300px;
    width: 50%;
    display: inline-block;
    float: left;

    .nav-btn {
      border: 2px solid rgba(255, 255, 255, 0.5);
      padding: 8px 15px 5px;
      border-radius: 6px;
      font-weight: 400;
    }

    .marketing-link-title {
      position: absolute;
      width: 100%;
      height: 80px;
      background-color: rgba(0, 0, 0, 0.6);
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      line-height: 80px;
      font-style: italic;
      text-shadow: #000000 1px 1px;
    }

    .title-top {
      top: 0;
    }

    .title-bottom {
      bottom: 0;
    }
  }

  .marketing-link:hover {
    .marketing-link-title {
      background-color: rgba(0, 0, 0, 0.23);
    }

    .nav-btn {
      border-color: rgba(0, 0, 0, 0.5);
      background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    }
  }

  .marketing-links:nth-child(1) {
    padding-bottom: 50px;
    background: red;
  }

  .small-marketing-links {
    position: relative;
    margin-top: -40px;
    padding-bottom: 40px;
  }

  .small-marketing-link {
    height: 40px;
    width: 33.3%;
    background-color: transparent;

    .marketing-link-title {
      height: 40px;
      line-height: 40px;
    }
  }

}

.blur {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: rgba(255, 255, 255, .85);
}

.filler {
  width: 100%;
  height: 60px;
}

.large {
  font-size: 2rem;
}

.green {
  background-color: $kudoso-green;
  color: #ffffff;
}

.gray {
  background-color: #9B9B9B;
  color: #ffffff;
}

.blue {
  background-color: $kudoso-blue;
  color: #ffffff;
}

.white {
  background-color: #ffffff;
  color: #000000;
}

.spacer {
  height: 30px;
}

.bold {
  font-weight: 700;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

#footer {
  position: relative;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  font-size: 1.2rem;
  margin-top: -200px;
  padding-top: 190px;
  text-align: center;

  a,
  a:hover {
    color: white;
  }

  .footer-news {
    margin: -210px 10px 0px;
    text-align: center;
    padding: 25px 0 110px 0;

    .footer-news-body {
      background-color: $dark-blue;
      max-width: 600px;
      margin: 0 auto;
      border-radius: 8px;

      img {
        padding: 10px 10px 10px 10px;
      }
    }
  }

  #footer-social {
    margin-top: -77px;
    background-color: #ffffff;
    color: white;
    padding: 0 10px;
    font-size: 1.4rem;

    .social-link {
      display: inline-block;
      width: 57px;
      height: 57px;
      font-size: 39px;
      line-height: 67px;
      text-align: center;
      border-radius: 50%;
      background-color: #1C2331; // $dark-blue;
      margin: 0 10px 0 10px;

      a:hover {
        text-decoration: none;
      }
    }

    p {
      width: 310px;
      margin: 10px auto;
    }
  }

  #footer-body {
    background-color: #1C2331; //$dark-blue;
    color: white;
    padding-bottom: 15px;
    padding-top: 100px;
    margin-top: -93px;

    a {
      text-decoration: underline;
    }
  }

  #footer-bottom {
    //background-color: $kudoso-green;
    background-color: #12141E;
    //color: $dark-blue;
    color: rgba(255, 255, 255, .5);
    padding: 10px 5px 10px 5px;
    font-size: 1.1rem;
    font-weight: bold;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;

  .margin {
    margin: 0 2.5%;

    .padding {
      padding: 40px 0;
    }
  }
}

.clear {
  clear: both;
}

small {
  font-size: small;
  color: #b9b9b9;
}

.flash-message {
  &.error {
    border: solid 4px #900;
    background-color: #FF6565;
  }

  &.success {
    border: solid 4px #26722D;
    background-color: #41bb3c;
  }

  color: black;
  z-index: 999;
  position: fixed;
  font-weight: bold;
  width: 96%;
  min-width: 300px;
  max-width: 800px;
  padding: 10px;
  margin: 5px;

  p {
    font-size: 110%;
    margin: 15px 0;
  }

  a.close {
    position: absolute;
    top: -4px;
    right: 5px;
    text-decoration: none;
  }

  a.close:hover {
    text-decoration: none;
    color: lighten(black, 10%);
  }
}

.todo_wrap {
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;

  .todo_name {
    font_size: 1.3em;
  }

  .todo.optional.incomplete {
    color: #41bb3c;
  }

  .todo.required {
    font-weight: bold;
  }

  .todo.required.incomplete {
    color: #ff4441;
  }
}

.rs_dialog_holder {
  z-index: 2000;
}

.centered {
  text-align: center;
}

ul.inline {
  overflow: auto;
  list-style-type: none;
}

ul.inline>li {
  display: inline-block;
  vertical-align: top;
}

.centered>ul.inline>li {
  padding-left: 1em;
  padding-right: 1em;
}

ul.inline.even>li {
  width: 250px;
}

#todo_history {
  ul {
    padding-left: 20px;
    list-style: none;
  }

  li {
    margin-bottom: 10px;
  }

  li.complete:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 -15px;
    color: green;
  }

  li.incomplete:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    margin: 0 5px 0 -15px;
    color: red;
  }

}

//The accordion is closed
.accordion-icon:before {
  content: "\f0d7";
}

//The accordion is open
.active .accordion-icon:before {
  content: "\f0d8";
}


// Callouts, from http://www.techrepublic.com/blog/web-designer/create-fancy-looking-call-outs-with-lightweight-css/

span.balloon {
  outline: none;
  text-decoration: none;
  color: $theme-color;
  cursor: pointer;
  max-width: 40%;

  strong {
    line-height: 30px;
    font-family: Candara, Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
  }

  img {
    border: none;
  }

  div {
    z-index: 10;
    display: none;
    padding: 5px 5px;
    margin-top: -30px;
    margin-left: 10px;
    min-width: 275px;
    line-height: 16px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 6px 6px 10px #CCC;
    -webkit-box-shadow: 6px 6px 10px #CCC;
    box-shadow: 6px 6px 10px #CCC;
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    font-size: .8em;

    p {
      font-size: .7em;
    }
  }
}


span.balloon:hover {
  text-decoration: none;
  text-outline: none;
  color: #F06;

  div {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
  }

  img {
    text-decoration: none;
    text-outline: none;
    border: none;
  }

  li {
    list-style: none;
  }
}

.arrow {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px;
  background-color: transparent;
}

.selected {
  background-color: $green-bg;
}

.timesel {
  cursor: pointer;
}

.simple-wrap {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 5px 5px 5px;
}

.rangeSelector {
  width: 100%;
  height: 400px;
  background-color: #487ea4;
  position: relative;
}

.st_restrictions {
  td {
    width: 12%;
  }
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

ul.kudoso-bullets li:before {
  content: "\2713\0020";
}

.wizard-wrap {
  .wizard-step {
    display: inline;
    padding: 5px;
  }

  .active {
    background-color: $kudoso-green;
  }
}

.wizard-body {
  .manual-tasks {
    overflow-y: scroll;
    max-height: 80px;
  }
}

.text-xs-left {
  text-align: left;
}

.text-xs-right {
  text-align: right;
}

.text-xs-center {
  text-align: center;
}

.text-xs-justify {
  text-align: justify;
}

@media (min-width: $screen-sm-min) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-justify {
    text-align: justify;
  }

  .col-md-5 {
    margin-right: 0;
  }
}

@media (min-width: $screen-md-min) {
  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-justify {
    text-align: justify;
  }
}

@media (min-width: $screen-lg-min) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-justify {
    text-align: justify;
  }
}

.marketing .row {
  margin-right: 0 !important;
}