// Place all the styles related to the devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.device {
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: black;
}

.device.managed {
  border: 1px solid $green-border;
  background-color: $green-bg;
}

.device.unmanaged {
  border: 1px solid $red-border;
  background-color: $red-bg;
}