// Place all the styles related to the devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.device {
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
}