// Place all the styles related to the Families controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo {
  .complete {
    display: inline-block;
  }
  .name {
    display: inline-block;
  }
  .actions {
    display: inline-block;
    font-size: .7em;
  }
}
