.family_activity {
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: black;
}

.family_activity.unrestricted {
  border: 1px solid $green-border;
  background-color: $green-bg;
}

.family_activity.restricted {
  border: 1px solid $red-border;
  background-color: $red-bg;
}