// breakpoints
$S : 480px;
$M : 768px;
$L : 1170px;
$XL : 1500px;
// media queries
@mixin MQ($canvas) {
    @if $canvas==S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }
    @else if $canvas==M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }
    @else if $canvas==L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
    @else if $canvas==XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    }
}

// super light grid - it works with the .cd-container class inside style.scss
@mixin column($percentage, $float-direction:left) {
    width: 100% * $percentage;
    float: $float-direction;
}

$light-grey: #b9b9b9;
$green-border: rgb(0, 128, 0);
$green-bg: rgba(0, 128, 0, 0.25);
$red-border: rgb(255, 0, 0);
$red-bg: rgba(255, 0, 0, 0.23);
$gray-bg: rgb(179, 179, 179);
$gray-bg-trans: rgba($gray-bg, 0.80);
$kudoso-blue: #487EA4;
$theme-color: $kudoso-blue;
$secondary-color: #d9d9d9;
$kudoso-green: #75A73D;
$dark-blue: #252F3E;
// Pricing Table Stuff
// http://codyhouse.co/demo/pricing-tables/index.html
// colors
$color-1: #173d50; // Nile Blue
$color-2: #e97d68; // Apricot
$color-3: #3aa0d1; // Shakespeare
$color-4: #FFFFFF; // White
// fonts
$primary-font: 'Open Sans',
sans-serif;
// Pricing tables
$pt-number: 3; // number of pricing tables
$pt-header-mobile-height: 80px;
$pt-margin: 0.015; // distance between tables - percentage value
$pt-features-number: 7;
$pt-feature-mobile-width: 100px;
// bouncy animation
$cd-perspective: 2000px;
$cd-animation-duration: .5s;
// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
    @if $xy==xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy==x {
        left: 50%;
        right: auto;
        @include transform(translateX(-50%));
    }
    @else if $xy==y {
        top: 50%;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}