$light-grey: #b9b9b9;
$green-border: rgb(0, 128, 0);
$green-bg: rgba(0, 128, 0, 0.25);
$red-border: rgb(255, 0, 0);
$red-bg: rgba(255, 0, 0, 0.23);
$gray-bg: rgb(179, 179, 179);
$gray-bg-trans: rgba($gray-bg, 0.80);
$theme-color: #346fff;