// Place all the styles related to the task_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_name {
  font-weight: bold;
}
.task_description {
  font-size: .7em;
  background-color: $light-grey;
  padding: 5px;
  border-radius: 5px;
}
.task_schedule {
  font-size: .7em;
}
.task_active {
  font-size: .7em;
  color: $light-grey;
}
.task_actions {
  font-size: .7em;
}
