%section.k-intro.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle.k-limit
  .uk-container.uk-container-center
    %article.uk-width-large-6-10.uk-width-medium-9-10.uk-width-small-1-1.uk-container-center
      %header
        %h2.uk-contrast Screen Time Controls
        %p.first Kudoso provides the most comprehensive screen time management system available. No other solution lets you control screen time across ALL interactive, electronic devices in your home including: Mobile, Tablet, Computer (Desktop and Laptop), Television, BluRay/Streaming Movie Players and even Game Consoles. If it connects to get content…we have it under control!
      .k-intro-spot
%section#features.k-features.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article
      %h2
        %strong Limit
        Features
      %p.uk-width-medium-4-5.uk-container-center
      %ul.k-feature-set.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-grid-large
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "20", :y2 => "6"}
                %path{:d => "M36,20H12 C6.5,20,2,24.5,2,30s4.5,10,10,10c4.1,0,7.6-2.5,9.2-6h5.7c1.5,3.5,5.1,6,9.2,6c5.5,0,10-4.5,10-10S41.5,20,36,20z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "12", :x2 => "12", :y1 => "26", :y2 => "34"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "8", :x2 => "16", :y1 => "30", :y2 => "30"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "34", :x2 => "36", :y1 => "28", :y2 => "26"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "36", :x2 => "38", :y1 => "34", :y2 => "32"}
          / <h4 class="k-feature-title uk-hidden">Title 1</h4>
          %p.k-feature-desc
            %strong Set Screen Time Limits
            Time Limits on more devices than any other solution.  Control and monitor virtually EVERY electronic device in your home with interactive capabilities.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "40", :x2 => "16", :y1 => "40", :y2 => "40"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 32,2 32,16 26,12 20,16 20,2 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M40,34V6c0-2.2-1.8-4-4-4H8 C5.8,2,4,3.8,4,6v34", "data-cap" => "butt", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M40,46V34H10 c-3.3,0-6,2.7-6,6v0c0,3.3,2.7,6,6,6H40z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "10", :y1 => "34", :y2 => "10"}
          %p.k-feature-desc
            %strong Comprehensive screen time management
            screen time management of Televisions, Movie Players, Game Consoles, Smart Phones, Tablets and Computers.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M10,12V8c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v4", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M16,12V7c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v5", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M28,12V7c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v5", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M22,12V5c0-1.7,1.3-3,3-3h0 c1.7,0,3,1.3,3,3v7", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "27.1,31 2,31 2,12 45,12 45,31 40,31 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "23", :cy => "22", "data-color" => "color-2", :fill => "none", :r => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "14", :x2 => "8", :y1 => "17", :y2 => "17"}
                %path{:d => "M10,31c0,8.3,6.7,15,15,15 s15-6.7,15-15V18c-3.5,0-6,2.5-6,6v4c-4.7,0-9,3.7-9,8", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Simple &amp; Easy
            to use interface allows you to monitor, control and limit screen time daily across all electronics with a single click.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "36", :y2 => "44"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "20", :x2 => "12", :y1 => "36", :y2 => "46"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "28", :x2 => "36", :y1 => "36", :y2 => "46"}
                %rect{"data-color" => "color-2", :fill => "none", :height => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "4", :x => "22", :y => "4"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "34,18 24,28 18,22 14,26 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "28,18 34,18 34,24 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "42,36 42,8 6,8 6,36 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "2", :x2 => "46", :y1 => "36", :y2 => "36"}
          %p.k-feature-desc
            %strong Incredibly Customizable
            features allow you to block access to screen time based on activity, device, or even time-of-day (like during school hours or middle of the night).
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M4,24c0,0,7.9-14,20-14 c12,0,20,14,20,14s-8.1,14-20,14C12,38,4,24,4,24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "24", :cy => "24", "data-color" => "color-2", :fill => "none", :r => "7", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Teach Priorities
            by restricting screen time to only when the child's required tasks (chores) are complete, Kudoso makes it simple to make the “work before play” philosophy an absolute in your house.
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %circle{:cx => "24", :cy => "38", "data-color" => "color-2", :fill => "none", :r => "2", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "12", :y2 => "12"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "30", :y2 => "30"}
                %path{:d => "M34,46H14c-2.2,0-4-1.8-4-4 V6c0-2.2,1.8-4,4-4h20c2.2,0,4,1.8,4,4v36C38,44.2,36.2,46,34,46z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Powerful Reports
            allow you to view your child's activity in real time and create and approve screen time overrides dynamically.
%section.k-info.k-section.uk-clearfix
  .uk-container.uk-container-center
    %article
      %header
        %h2 What makes Kudoso unique
      %p Kudoso is able to control more technology in your home than any other solution because we use a combination of hardware and software. The solution begins with Kudoso software that gets installed on all computing devices like smart phones, tablets, desktop &amp; laptop computers. Then, we add the Kudoso Plug, a lockable smart-plug that brings software control to all the non-connected electronics in the home like your un-smart televisions and game consoles.
      %figure
        = image_tag 'KudosoPlug.gif', alt: ''
        %figcaption
      %h3
        %strong Kudoso Plug:
        the Lockable SmartPlug
      %p
        Imagine it!  Your child’s video game time is up, but the second you ask your child to "Turn it off"
        a whole slew of negotiations ensues.  With the Kudoso Plug, there is no argument.  When your kids reach
        their screen time limits or with the simple click of a button, Kudoso Plug turns it off for you.  No more
        timers on the microwave, no more arguments… it is a new way of screen time control like none other.
        Let our Kudoso Plug be the "bad guy" so you can focus on being a positive parent!
      %p
        How does it work? Just like we can now control security systems and even the lighting in our home wirelessly,
        the Kudoso Plug allows parents control when electronics can be turned on, turned off and when they can be used.
        The Kudoso Plug features a clam-shell housing that creates a physical lock over the electrical cord of the
        device it is controlling, preventing kids from simply unplugging their device from the Kudoso Plug and
        utilizing a standard outlet. Between the Kudoso Plug and Kudoso Gateway, you control the power and communication
        for every electronic device in your home.  No power means playtime is over, no argument.
%section#features.k-features.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article
      %h2
        %strong Kudoso
        Controls
      %p.uk-width-medium-4-5.uk-container-center
      %ul.k-feature-set.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-grid-large
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "12", :y2 => "6"}
                %line{:fill => "none", :stroke => "#1967f8", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "28", :x2 => "20", :y1 => "34", :y2 => "34"}
                %path{:d => "M13.7,37.2l-7.5,5.6 c-1.5,1.1-3.5-0.2-3.2-2L7,21.2c0.6-3,3.3-5.2,6.4-5.2h0c1.7,0,3.4,0.7,4.6,1.9L20,20h8l2.1-2.1c1.2-1.2,2.9-1.9,4.6-1.9h0 c3.1,0,5.8,2.2,6.4,5.2L45,40.9c0.4,1.8-1.7,3.1-3.2,2l-7.5-5.6", "data-cap" => "butt", :fill => "none", :stroke => "#1967f8", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "16", :cy => "34", "data-color" => "color-2", :fill => "none", :r => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "32", :cy => "34", "data-color" => "color-2", :fill => "none", :r => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          / <h4 class="k-feature-title uk-hidden">Title 1</h4>
          %p.k-feature-desc
            %strong Game Consoles
            including Playstation 2, 3 &amp; 4, Xbox 360 &amp; One, and Nintendo Wii
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "40", :x2 => "16", :y1 => "40", :y2 => "40"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 32,2 32,16 26,12 20,16 20,2 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M40,34V6c0-2.2-1.8-4-4-4H8 C5.8,2,4,3.8,4,6v34", "data-cap" => "butt", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M40,46V34H10 c-3.3,0-6,2.7-6,6v0c0,3.3,2.7,6,6,6H40z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "10", :y1 => "34", :y2 => "10"}
          %p.k-feature-desc
            %strong Consumer Electronics
            including Televisions, BluRay &amp; DVD Players, and Stereos
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %circle{:cx => "24", :cy => "38", "data-color" => "color-2", :fill => "none", :r => "2", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "12", :y2 => "12"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "10", :x2 => "38", :y1 => "30", :y2 => "30"}
                %path{:d => "M34,46H14c-2.2,0-4-1.8-4-4 V6c0-2.2,1.8-4,4-4h20c2.2,0,4,1.8,4,4v36C38,44.2,36.2,46,34,46z", :fill => "none", :stroke => "#1967f8", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Apple iOS
            devices (iOS 6+) including iPhone, iPad and iPod Touch devices
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %line{"data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "24", :x2 => "24", :y1 => "36", :y2 => "44"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "20", :x2 => "12", :y1 => "36", :y2 => "46"}
                %line{"data-cap" => "butt", "data-color" => "color-2", :fill => "none", :stroke => "#fdb941", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "28", :x2 => "36", :y1 => "36", :y2 => "46"}
                %rect{"data-color" => "color-2", :fill => "none", :height => "4", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "4", :x => "22", :y => "4"}
                %polyline{"data-cap" => "butt", :fill => "none", :points => "34,18 24,28 18,22 14,26 ", :stroke => "#0072f4", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "28,18 34,18 34,24 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %polyline{:fill => "none", :points => "42,36 42,8 6,8 6,36 ", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %line{:fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :x1 => "2", :x2 => "46", :y1 => "36", :y2 => "36"}
          %p.k-feature-desc
            %strong Android Devices
            including all Android phones &amp; tablets running Android 4.1 or greater (including Amazon Kindle Fire/FireHD)
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M4,24c0,0,7.9-14,20-14 c12,0,20,14,20,14s-8.1,14-20,14C12,38,4,24,4,24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => "24", :cy => "24", "data-color" => "color-2", :fill => "none", :r => "7", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Computers
            including Windows (version 8+) and Mac (OS X 10.6+)
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %path{:d => "M40,4c3.3,0,6,2.7,6,6v28 c0,3.3-2.7,6-6,6H8c-3.3,0-6-2.7-6-6V10c0-3.3,2.7-6,6-6H40z", :fill => "none", :stroke => "#1967f8", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %rect{"data-color" => "color-2", :fill => "none", :height => "28", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2", :width => "32", :x => "8", :y => "10"}
                %polygon{"data-color" => "color-2", :fill => "none", :points => " 20,18 28,24 20,30 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc
            %strong Streaming Media
            devices including Roku, AppleTV, and Amazon FireTV
= render 'home/news'