.wizard-wrap
  .wizard-step{ class: (step == 1) ? 'active' : '' }
    Step 1 - User Registration
  .wizard-step{ class: (step == 2) ? 'active' : '' }
    Step 2 - Family Details
  .wizard-step{ class: (step == 3) ? 'active' : '' }
    Step 3 - Device Setup
  .wizard-step{ class: (step == 4) ? 'active' : '' }
    Step 4 - Assign Tasks