%section.k-footer.uk-clearfix
  .uk-container.uk-container-center
    .uk-grid
      .k-footer-newsletter.uk-container-center.uk-width-small-1-1.uk-width-medium-4-10.uk-width-large-4-10.uk-push-6-10
        %div
          / <h3><strong>Newsletter</strong></h3>
          %p
            %strong Sign Up Now
            for the latest Kudoso news on how to protect your family from the dangers of technology, tips on raising healthier kids and be one of the first to get Kudoso, even before the public release!
          %form.uk-form
            .uk-form-row.uk-text-center
              %input.uk-form-large.uk-width-4-10{:name => "first_name", :placeholder => "Your First Name", :type => "text", :value => "", :id => 'footer-first-name'}/
              %input.uk-form-large.uk-width-4-10{:name => "last_name", :placeholder => "Your Last Name", :type => "text", :value => "", :id => 'footer-last-name'}/
            .uk-form-row.uk-text-center
              %input.uk-form-large.uk-width-8-10.uk-text-center{:name => "email", :placeholder => "Your Email Address", :type => "email", :value => "", :id => 'footer-email'}/
              %small We won’t spam you or share your email address.
            .uk-form-row.uk-text-center
              %button.newsletter-button.uk-button.uk-button-primary.uk-button-large.uk-width-8-10{:name => "button", :type => "button", :onclick => "footer_signup(); return false;"} Sign Up
      .k-footer-details.uk-width-medium-6-10.uk-width-large-6-10.uk-pull-4-10
        .uk-grid
          .uk-width-small-1-1.uk-width-medium-2-4.uk-width-large-2-4.uk-text-center-small.uk-margin-large-top
            .uk-text-center
              = image_tag 'k-logo-footer.svg'
              %br/
              %small © 2014–2015 Kudoso
              %br/
              %a.k-social-link{:href => "https://twitter.com/kudosokids"}
                %i.uk-icon-twitter.uk-icon-small
              %a.k-social-link{:href => "https://www.facebook.com/Kudoso"}
                %i.uk-icon-facebook.uk-icon-small
          .uk-width-small-1-1.uk-width-medium-2-4.uk-width-large-2-4.uk-text-center-small.uk-margin-large-top
            %ul.uk-list
              %li
                %a{:href => "/contact_us"} Contact Us
              -#%li
              -#  %a{:href => ""} Press Inquiries
              %li
                %a{:href => "/privacy"} Privacy Policy
          .uk-width-small-1-1.uk-width-medium-4-4.uk-width-large-4-4.uk-text-center-small.uk-margin-large-top
            #legal.uk-list
              %li * Khan Academy® and FitBit® are registered trademarks of their respective services.
              %li Kudoso® is a registered trademark. Patents pending.

#modal.uk-modal.k-overlay-menu{"aria-hidden" => "true", :style => "display: none; overflow-y: auto;"}
  .uk-modal-dialog
    %a.uk-modal-close.uk-close{:href => ""}
    %h3 MENU
    %ul.uk-list.uk-list-line
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "/protect"} Protect
      %li
        %a{:href => "/limit"} Limit
      %li
        %a{:href => "/teach"} Teach
      %li
        %a{:href => "/reward"} Reward
      %li
        %a{:href => "http://blog.kudoso.com"} Blog

:javascript
  function footer_signup() {
    $('.newsletter-button').prop("disabled",true);
    var email = $.trim($('#footer-email').val());
    var valid = (email.length > 5 && validateEmail(email));

    if ( !valid ) {
      alert("We're sorry, it doesn't appear that you have input a valid email address, please try again");
      $('.newsletter-button').prop("disabled",false);
      return;
    }

    var first_name = $.trim($('#footer-first-name').val());
    var last_name = $.trim($('#footer-last-name').val());

    valid = (valid && first_name.length > 2);
    valid = (valid && last_name.length > 2);

    if ( !valid ) {
      alert("Both the first and last name fields are required, please try again...");
      $('.newsletter-button').prop("disabled",false);
      return;
    }

    if ( valid ) {
      $.ajax({
         url: '/contacts',
         dataType: 'json',
         contentType: 'application/json',
         method: 'POST',
         data: {
          contact: {
            emails_attributes: [ { address: email } ],
            first_name: first_name,
            last_name: last_name,
            contact_type_id: #{ ContactType.find_or_create_by(name: 'Beta Applicant').id }
          }
         },
         statusCode: {
          200: function(e) {
            alert("Thank you!")
            if (typeof _agile !== 'undefined') {
              _agile.set_email(email);
              _agile.add_score(10);
            }
            ga('send','pageview','/landing_singup_thankyou');
            alert('Thank you!');
          },
          400: function(e) {
            alert("We're sorry, the server did not receive your email address, please try again.");
            $('.newsletter-button').prop("disabled",false);
          },
          409: function(e) {
            if (typeof _agile !== 'undefined') {
              _agile.set_email(email);
              _agile.add_score(10);
            }
            alert("Thank you!");
          },
          500: function(e) {
            alert("We're sorry, the server had an error processing your registration, please try again later.");
            $('.newsletter-button').prop("disabled",false);
          }
        }
      });
    }
  }
