.uk-container.uk-container-center.uk-position-relative.uk-text-center-small
  .k-logo
    %a{:href => "/"}
      = image_tag 'k-logo.svg', alt: 'Kudoso', class: 'uk-container-center'
  .k-nav
    = render 'layouts/navigation_links'