- @member.details.each do |day, group|
  %h3="#{day.strftime('%A')}, #{day.strftime('%D')}"
  - group.each do |task|
    %ul
      %li{ class: task.complete? ? 'complete' : 'incomplete'}
        = task.task_schedule.task.name
