- @member.details.each do |day, group|
  %h3="#{day.strftime('%A')}, #{day.strftime('%D')}"
  - group.each do |todo|
    %ul
      %li{ class: todo.complete? ? 'complete' : 'incomplete'}
        = todo.todo_schedule.todo.name
